# Preprocessing for Nitrogen Loading Model (Nload)

## Objectives

Within subwatersheds of the Wareham (Agawam) reclassify Massachusetts 2016 land cover layer to include cranberry agriculture into 13 categories for use in Nload. Repeat this for baseline conditions, and several scenarios.

Future scenarios could include increasing population and impervious area by displacing natural areas. Growth of cranberry agriculture in uplands with modern cranbery hybrids. Retirement and/or restoration of older and flowthrough bogs. Replacement of older flowthrough bogs with new hybdrids. Upgrades to wastewater treatment facilities. 


## References 
Kennedy, C. D., & Hoekstra, B. R. (2021). Measuring and modeling nitrogen export from cranberry farms. Ecosphere, 12(12), 1–15. https://doi.org/10.1002/ecs2.3686

Valiela, I., Geist, M., McClelland, J., & Tomasky, G. (2000). Nitrogen loading from watersheds to estuaries: Verification of the Waquoit Bay Nitrogen Loading Model. Biogeochemistry, 49(3), 277–293. https://doi.org/10.1023/A:1006345024374

Valiela, I., Collins, G., Kremer, J., Lajtha, K., Geist, M., Seely, B., … Sham, C. H. (1997). Nitrogen loading from coastal watersheds to receiving estuaries: New method and application. Ecological Applications, 7(2), 358–380. https://doi.org/10.1890/1051-0761(1997)007[0358:NLFCWT]2.0.CO;2

Walter, D. A., & Masterson, J. P. (2011). Estimated hydrologic budgets of kettle-hole ponds in coastal aquifers of southeastern Massachusetts. http://pubs.usgs.gov/sir/2011/5137/

## Set up environment

In [1]:
# Load dependancies ***************************************
import arcpy as ap
import os, glob, re, sys
import pandas as pd
import numpy as np
#import scipy.stats

# Set up arcpy environment ******************************
# input data directory
idr = "C:\\Workspace\\Geodata\\Massachusetts\\"
# working directory this should be where arcgis project is located
wdr = "C:\\Workspace\\Geodata\\Nload\\"
# output directory
odr = os.path.join(wdr,'outputs')
# arcpy settings
ap.env.workspace = wdr # set arcpy environment working directory
aprx = arcpy.mp.ArcGISProject("Current") # current project
ap.CheckOutExtension("Spatial") # check out spatial extension
ap.env.outputCoordinateSystem = arcpy.SpatialReference("NAD 1983 UTM Zone 19N") # define cordinate system
# Allow overwriting of output
arcpy.env.overwriteOutput = True
#ap.SetProgressor("step", "processing...", step_value = 5)

Tip: see this [page](https://pro.arcgis.com/en/pro-app/latest/arcpy/functions/setprogressor.htm) for tips on arcpy settings. 

Tip: Use `os.path.join` to safely concatenate file paths. To do this enter folder names in quotes separated by commas.

Tip: Test in the geoprocessing tab first, then, once working, can copy python code from the geoprocessing tab when you click on the arrow next to `run`!

In [4]:
# check that directories exist
if os.path.exists(wdr) is False:
    sys.exit(wdr+" does not exist")
if os.path.exists(idr) is False:
    sys.exit(idr+" does not exist")
if os.path.exists(odr):
    print(odr+" already exists")
else:
    os.mkdir(odr)

C:\Workspace\Geodata\Nload\outputs already exists

Tip: Use `arcpy.FeatureSet` to add an input feature as an object to the current environment. Alternatively, `arcpy.management.MakeFeatureLayer` can be used to add input feature as a layer to the current project. The added layer should appear on the map. `arcpy.Copyfeatures_management` works in a similar way to `MakeFeatureLayer`. 

## Load input files

In [6]:
# Add Input Data *********************************** 
# Massachusetts 2016 Land Use Land Cover Layer 
path = os.path.join(idr,"lclu_gdb","MA_LCLU2016.gdb","LANDCOVER_LANDUSE_POLY")
MA_LCLU2016 = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_lclu16")

# Massachusetts cranberry agriculture (source: Jim McLaughlin)
# this needs to be updated
path = os.path.join(idr,'WMAbogsDRAFT2013\\WMAbogsDRAFT2013.shp')
os.path.exists(path)
arcpy.CopyFeatures_management(path,"in_bogs")
bogs = ap.FeatureSet(path)
#ap.management.MakeFeatureLayer(path, "lyr_ggbp")
path = os.path.join(idr,'Wareham_Bogs_v3\\WarehamBogs_master_v3.shp')
os.path.exists(path)
arcpy.CopyFeatures_management(path,"in_wareham_bogs")
wareham_bogs = ap.FeatureSet(path)

# Subcatchments of Agawam (Wareham) with terminus classifications
path = os.path.join(idr,"agawam_WS","agawam_subw_0309.shp")
agawam = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_agawam")

# Subcatchments of Great, Green, and Bourne Ponds with terminus classifications
path = os.path.join(idr,"GGBsheds","Great_Green_Bourne_Ponds.shp")
os.path.exists(path)
ggbp = ap.FeatureSet(path)
ap.management.MakeFeatureLayer(path,"in_ggbp")

# Create the spatial reference object from MA_LCLU2016
spatial_ref = arcpy.Describe(MA_LCLU2016).spatialReference

# MANAGE PROJECTIONS
arcpy.management.Project("in_wareham_bogs", 
                         "prj_wareham_bogs",
                         spatial_ref)
arcpy.management.Project("in_agawam", 
                         "prj_agawam",
                        spatial_ref)

## Main Program

### Part 1: Combine spatial layers

`arcpy.analysis.Intersect` (A) land use and (B) subwatershed Layer.

inFeat = "in_lclu16"
identFeat = "prj_agawam"
identOutput = "out_lclu16_agawam_ident"
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

inFeat = "prj_wareham_bogs"
identFeat = identOutput
identOutput = "out_lclu16_agawam_cran_ident"
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

In [7]:
# Intersect MA land use layer with subwatershed layer
inFeatures = [MA_LCLU2016, agawam]

In [8]:
intersectOutput = "out_agawam_lclu16"

In [9]:
arcpy.analysis.Intersect(inFeatures, intersectOutput, "", "", "INPUT")

Spatial (A) join cranberry and (B) intersection of subwatershed land use layers.

In [10]:
# change FID as BOG_FID in attribute table
arcpy.management.CalculateField("in_wareham_bogs","BOG_FID","!FID!", 
                                "PYTHON3",'',"TEXT","NO_ENFORCE_DOMAINS")

In [11]:
inFeat = intersectOutput
identFeat = "in_wareham_bogs"
identOutput = "out_lclu16_agawam_cran_ident"

In [12]:
arcpy.analysis.Identity(inFeat, identFeat, identOutput, "ALL", None, "NO_RELATIONSHIPS")

Calculate area of polygons in hectares and export attribute tables to pandas dataframe

In [364]:
def fn_Calculate_Area_Ha(fc):
    # calculate area in hectares and add column to attribute table
    arcpy.management.CalculateGeometryAttributes(fc,
                                             "Area_Ha AREA_GEODESIC",
                                             '', "HECTARES", None, "SAME_AS_INPUT")

# path to feature class
fc1 = "in_agawam"
fn_Calculate_Area_Ha(fc1)

In [365]:
fc2 = identOutput
fn_Calculate_Area_Ha(fc2)

In [15]:
def fn_featureClass_Attributes_to_DataFrame(fc):
    # list of field names that excludes the shape geometry (including geometry messes this up)
    flds = [fld.name for fld in arcpy.ListFields(fc) if fld.name != arcpy.Describe(fc).shapeFieldName]
    arr = arcpy.da.FeatureClassToNumPyArray(fc,flds)
    df = pd.DataFrame(arr)
    return(df)

in_df1 = fn_featureClass_Attributes_to_DataFrame(fc1).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

In [16]:
in_df2 = fn_featureClass_Attributes_to_DataFrame(fc2).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

In [17]:
# check that area of the inputs and outputs match closely
Total_Area1 = in_df1.Area_Ha.sum()
Total_Area2 = in_df2.Area_Ha.sum()
print(fc1+" Area (Ha):"+str(Total_Area1))
print(fc2+" Area (Ha):"+str(Total_Area2))
print("Difference in Area:"+str(Total_Area1 - Total_Area2)) # difference should be close to 0.0

in_agawam Area (Ha):12009.71311226879
out_lclu16_agawam_cran_ident Area (Ha):12007.009466206888
Difference in Area:2.7036460619019635

In [19]:
# write attribute tables to csv
in_df1.to_csv(os.path.join(odr,fc1+".csv"))
in_df2.to_csv(os.path.join(odr,fc2+".csv"))

In [359]:
# add csv to the map with content manager
import arcgis 


#from arcgis.features import SpatialDataFrame
#lyr2 = ap.FeatureSet(fc2)
#sdf2 = SpatialDataFrame.from_layer(lyr2)
#print(fc2)
#lyr2 = arcpy.management.MakeFeatureLayer(fc2)
#sdf2 = SpatialDataFrame.from_layer(lyr2)
aprx = arcpy.mp.ArcGISProject('current')

#print(l)
#print(lyr2)
for m in aprx.listMaps():
    print("Map: {0} Layers".format(m.name))
    i = 0
    for lyr in m.listLayers():
        if lyr.isBroken:
            print(str(i)+" (BROKEN) " + lyr.name)
        else:
            print(str(i)+"   " + lyr.name)
        i = i + 1
     
m = p.listMaps()[0]
l = m.listLayers()
sdf2 = pd.DataFrame.spatial.from_layer(l[0])

Map: Map Layers
0   out_lclu16_agawam_cran_ident
1   in_agawam
2   out_agawam_lclu16
3   in_ggbp
4   in_wareham_bogs
5   in_bogs
6   in_lclu16
7   out_wareham_bogs_Identity
8   in_wareham_bogs_Identity
9   prj_wareham_bogs
10   Graphics Layer
11   Hybrid Reference Layer
12   NHD_Southeast_Mass
13   HYDRO_NET_Junctions
14   NHDPoint
15   NHDPointEventFC
16   NHDFlowline
17   NHDLine
18   NHDLineEventFC
19   NHDArea
20   NHDAreaEventFC
21   NHDWaterbody
22   FEMA_NFHL_POLY
23   World Imagery

Exception: Could not load the dataset: 'Layer' object has no attribute 'filter'

### Part 1: Reclassify combined layers for Nload Scenarios

Read excel tables with subwatershed land use area and terminus information

In [356]:

# Subwatershed land use area
inname1 = "in_agawam"
inname2 = "out_lclu16_agawam_cran_ident"
in_df1 = pd.read_csv(os.path.join(odr,inname1+'.csv')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

# Subwatershed catchment ids and terminus information
in_df2 = pd.read_csv(os.path.join(odr,inname2+'.csv')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})

In [357]:
display(in_df1)
display(in_df2)

    Unnamed: 0  FID       sf_area  SubWat_Num  ...  SUB  Terminus   F_      Area_Ha
0            0    0  3.471427e+07           0  ...    0         e  0.0   322.510995
1            1    1  7.005651e+07           2  ...    2         p  0.0   650.865795
2            2    2  2.110986e+06          19  ...   19         p  0.0    19.612364
3            3    3  1.227794e+07          21  ...   21         p  0.0   114.069335
4            4    4  6.956152e+06          24  ...   24         p  0.0    64.626888
5            5    5  1.361948e+07          25  ...   25         p  0.0   126.532533
6            6    6  4.162610e+06          22  ...   22         p  0.0    38.672989
7            7    7  6.418631e+06          23  ...   23         p  0.0    59.632582
8            8    8  2.098890e+07          26  ...   26         s  0.0   194.998012
9            9    9  1.078122e+07          30  ...   30         p  0.0   100.163457
10          10   10  6.909070e+06          28  ...   28         p  0.0    64.189598
11          11   11  1.411002e+06          29  ...   29         p  0.0    13.109041
12          12   12  1.164140e+07          17  ...   17         p  0.0   108.155991
13          13   13  1.041416e+06          27  ...   27         p  0.0     9.675401
14          14   14  2.687407e+07          18  ...   18         p  0.0   249.676658
15          15   15  9.522788e+06          13  ...   13         p  0.0    88.472716
16          16   16  8.580442e+06          12  ...   12         p  0.0    79.717848
17          17   17  1.044368e+07           9  ...    9         p  0.0    97.028408
18          18   18  2.580489e+06          11  ...   11         p  0.0    23.974446
19          19   19  9.301526e+06          10  ...   10         p  0.0    86.417185
20          20   20  7.343610e+06          16  ...   16         p  0.0    68.226569
21          21   21  8.168001e+05          14  ...   14         p  0.0     7.588577
22          22   22  4.233004e+06          15  ...   15         p  0.0    39.327126
23          23   23  7.689573e+06           8  ...    8         p  0.0    71.440916
24          24   24  2.799263e+07           7  ...    7         p  0.0   260.067831
25          25   25  2.166851e+06           6  ...    6         p  0.0    20.131266
26          26   26  5.710047e+07           5  ...    5         p  0.0   530.494802
27          27   27  3.163326e+06           1  ...    1         p  0.0    29.389232
28          28   28  8.235509e+06           3  ...    3         p  0.0    76.512795
29          29   29  1.151071e+08          32  ...   32         s  0.0  1069.409533
30          30   30  3.521716e+06          37  ...   37         p  0.0    32.718333
31          31   31  3.625599e+06          38  ...   38         p  0.0    33.683419
32          32   32  2.052870e+08          20  ...   20         p  0.0  1914.756682
33          33   33  1.681114e+07          35  ...   35         s  0.0   156.183216
34          34   34  2.475554e+07          40  ...   40         p  0.0   229.990403
35          35   35  3.487547e+07          41  ...   41         s  0.0   324.010079
36          36   36  6.254804e+07          39  ...   39         w  0.0   581.102851
37          37   37  3.800523e+07          33  ...   33         s  0.0   353.089455
38          38   38  7.982396e+07          34  ...   34         s  0.0   741.605814
39          39   39  3.042836e+07          31  ...   31         s  0.0   282.697492
40          40   40  4.279269e+07          43  ...   43         s  0.0   397.562503
41          41   41  2.779376e+07          44  ...   44         s  0.0   258.214260
42          42   42  1.147400e+07          45  ...   45         s  0.0   106.597979
43          43   43  1.346703e+07          46  ...   46         e  0.0   125.113837
44          44   44  8.926953e+06          47  ...   47         e  0.0    82.934515
45          45   45  7.421453e+07          42  ...   42         s  0.0   689.484831
46          46   46  4.819246e+06          49  ...   49         p  0.0    44.773631
47          47   47  2.055267e+07           4  ...    4         s  0.0   190.946896
48          48   48  1.275045e+07          50  ...   50         p  0.0   118.460120
49          49   49  7.115734e+07          51  ...   51         p  0.0   661.095909

[50 rows x 11 columns]

        Unnamed: 0     FID  FID_out_ag  ...      SubW_Nam_1   Basin_1  BOG_FID
0                0       0           0  ...
1                1       1           1  ...
2                2       2           2  ...
3                3       3           3  ...
4                4       4           4  ...
...            ...     ...         ...  ...             ...       ...      ...
114645      114645  114645       97654  ...  Frogfoot Brook  Wankinco      241
114646      114646  114646       97771  ...  Frogfoot Brook  Wankinco      241
114647      114647  114647       97904  ...  Frogfoot Brook  Wankinco      241
114648      114648  114648      109625  ...
114649      114649  114649      110369  ...

[114650 rows x 56 columns]

In [373]:
# Subwatershed housing units, driveways, septics etcs. 
in_df3 = in_df3 = pd.read_excel(r'C:\Users\Adrian.Wiegman\OneDrive - USDA\Research\Nload\Inputs\Nload_Watershed_Info.xlsx','agawam_info',comment="#")
display(in_df3)

df1 = in_df1[['SUB','SubW_Names','Terminus','Area_Ha']]
df1.SepticUnits = 0
df1 = df1.rename(columns={'SubW_Names':'SubW_Name'})
display(df1)
df1 = df1.merge(in_df3[['SUB','Terminus','SepticUnits']])
print(df1)

                   SubW_Name  SUB  ...  Unnamed: 13 Unnamed: 14
0                 Abner Pond   22  ...          NaN         NaN
1    Agawam Reservoir N GT10    1  ...          NaN         NaN
2    Agawam Reservoir N LT10    3  ...          NaN         NaN
3    Agawam Reservoir S GT10   16  ...          NaN         NaN
4    Agawam Reservoir S LT10    2  ...          NaN         NaN
5               Agawam River   42  ...          NaN         NaN
6          Barrett Pond GT10   27  ...          NaN         NaN
7          Barrett Pond LT10   28  ...          NaN         NaN
8                 bog stream   35  ...          NaN         NaN
9          Broad Marsh River   43  ...          NaN         NaN
10                Bumps Pond    9  ...          NaN         NaN
11          Charge Pond GT10   29  ...          NaN         NaN
12          Charge Pond LT10   30  ...          NaN         NaN
13              College Pond   50  ...          NaN         NaN
14                 Crab Cove   46  ...          NaN         NaN
15             East Branch N   26  ...          NaN         NaN
16       East Head Pond GT10   17  ...          NaN         NaN
17       East Head Pond LT10   18  ...          NaN         NaN
18                   Estuary    0  ...          NaN         NaN
19            Fawn Pond GT10    8  ...          NaN         NaN
20            Fawn Pond LT10    7  ...          NaN         NaN
21         Fearing Pond GT10   19  ...          NaN         NaN
22         Fearing Pond LT10   21  ...          NaN         NaN
23            Five Mile Pond   23  ...          NaN         NaN
24            Frogfoot Brook   33  ...          NaN         NaN
25              Halfway Pond   51  ...          NaN         NaN
26              Harlow Brook   34  ...          NaN         NaN
27     Little Long Pond GT10   24  ...          NaN         NaN
28     Little Long Pond LT10   25  ...          NaN         NaN
29               Maple Swamp   39  ...          NaN         NaN
30                 Mill Pond   20  ...          NaN         NaN
31      New Grassy Pond GT10   14  ...          NaN         NaN
32      New Grassy Pond LT10   15  ...          NaN         NaN
33        New Long Pond GT10   12  ...          NaN         NaN
34        New Long Pond LT10   13  ...          NaN         NaN
35         Parker Mills Pond   40  ...          NaN         NaN
36                Rose Brook   41  ...          NaN         NaN
37                Sandy Pond   37  ...          NaN         NaN
38            Spectacle Pond   38  ...          NaN         NaN
39  Three Cornered Pond GT10   11  ...          NaN         NaN
40  Three Cornered Pond LT10   10  ...          NaN         NaN
41         Wankinco R N GT10   31  ...          NaN         NaN
42         Wankinco R N LT10   32  ...          NaN         NaN
43        Wareham River East   45  ...          NaN         NaN
44       Wareham River South   47  ...          NaN         NaN
45        Wareham River West   44  ...          NaN         NaN

[46 rows x 15 columns]

    SUB                 SubW_Name Terminus      Area_Ha
0     0                   Estuary        e   322.510995
1     2   Agawam Reservoir S LT10        p   650.865795
2    19         Fearing Pond GT10        p    19.612364
3    21         Fearing Pond LT10        p   114.069335
4    24     Little Long Pond GT10        p    64.626888
5    25     Little Long Pond LT10        p   126.532533
6    22                Abner Pond        p    38.672989
7    23            Five Mile Pond        p    59.632582
8    26             East Branch N        s   194.998012
9    30          Charge Pond LT10        p   100.163457
10   28         Barrett Pond LT10        p    64.189598
11   29          Charge Pond GT10        p    13.109041
12   17       East Head Pond GT10        p   108.155991
13   27         Barrett Pond GT10        p     9.675401
14   18       East Head Pond LT10        p   249.676658
15   13        New Long Pond LT10        p    88.472716
16   12        New Long Pond GT10        p    79.717848
17    9                Bumps Pond        p    97.028408
18   11  Three Cornered Pond GT10        p    23.974446
19   10  Three Cornered Pond LT10        p    86.417185
20   16   Agawam Reservoir S GT10        p    68.226569
21   14      New Grassy Pond GT10        p     7.588577
22   15      New Grassy Pond LT10        p    39.327126
23    8            Fawn Pond GT10        p    71.440916
24    7            Fawn Pond LT10        p   260.067831
25    6                 Deer Pond        p    20.131266
26    5    White Island Pond LT10        p   530.494802
27    1   Agawam Reservoir N GT10        p    29.389232
28    3   Agawam Reservoir N LT10        p    76.512795
29   32         Wankinco R N LT10        s  1069.409533
30   37                Sandy Pond        p    32.718333
31   38            Spectacle Pond        p    33.683419
32   20                 Mill Pond        p  1914.756682
33   35                bog stream        s   156.183216
34   40         Parker Mills Pond        p   229.990403
35   41                Rose Brook        s   324.010079
36   39               Maple Swamp        w   581.102851
37   33            Frogfoot Brook        s   353.089455
38   34              Harlow Brook        s   741.605814
39   31         Wankinco R N GT10        s   282.697492
40   43         Broad Marsh River        s   397.562503
41   44        Wareham River West        s   258.214260
42   45        Wareham River East        s   106.597979
43   46                 Crab Cove        e   125.113837
44   47       Wareham River South        e    82.934515
45   42              Agawam River        s   689.484831
46   49    White Island Pond GT10        p    44.773631
47    4        Agawam River North        s   190.946896
48   50              College Pond        p   118.460120
49   51              Halfway Pond        p   661.095909

    SUB                 SubW_Name Terminus      Area_Ha  SepticUnits
0     0                   Estuary        e   322.510995            0
1     2   Agawam Reservoir S LT10        p   650.865795           19
2    19         Fearing Pond GT10        p    19.612364            0
3    21         Fearing Pond LT10        p   114.069335            0
4    24     Little Long Pond GT10        p    64.626888            0
5    25     Little Long Pond LT10        p   126.532533            0
6    22                Abner Pond        p    38.672989            0
7    23            Five Mile Pond        p    59.632582            9
8    26             East Branch N        s   194.998012            0
9    30          Charge Pond LT10        p   100.163457            0
10   28         Barrett Pond LT10        p    64.189598            0
11   29          Charge Pond GT10        p    13.109041            0
12   17       East Head Pond GT10        p   108.155991            0
13   27         Barrett Pond GT10        p     9.675401            0
14   18       East Head Pond LT10        p   249.676658            0
15   13        New Long Pond LT10        p    88.472716            0
16   12        New Long Pond GT10        p    79.717848            0
17    9                Bumps Pond        p    97.028408            0
18   11  Three Cornered Pond GT10        p    23.974446            0
19   10  Three Cornered Pond LT10        p    86.417185            0
20   16   Agawam Reservoir S GT10        p    68.226569            0
21   14      New Grassy Pond GT10        p     7.588577            0
22   15      New Grassy Pond LT10        p    39.327126            0
23    8            Fawn Pond GT10        p    71.440916           15
24    7            Fawn Pond LT10        p   260.067831           16
25    1   Agawam Reservoir N GT10        p    29.389232            0
26    3   Agawam Reservoir N LT10        p    76.512795            0
27   32         Wankinco R N LT10        s  1069.409533            6
28   37                Sandy Pond        p    32.718333            2
29   38            Spectacle Pond        p    33.683419            2
30   20                 Mill Pond        p  1914.756682         1098
31   35                bog stream        s   156.183216           47
32   40         Parker Mills Pond        p   229.990403           15
33   41                Rose Brook        s   324.010079           81
34   39               Maple Swamp        w   581.102851            4
35   33            Frogfoot Brook        s   353.089455            0
36   34              Harlow Brook        s   741.605814           20
37   31         Wankinco R N GT10        s   282.697492          202
38   43         Broad Marsh River        s   397.562503          437
39   44        Wareham River West        s   258.214260          132
40   45        Wareham River East        s   106.597979          270
41   46                 Crab Cove        e   125.113837          346
42   47       Wareham River South        e    82.934515           28
43   42              Agawam River        s   689.484831          833
44   50              College Pond        p   118.460120            0
45   51              Halfway Pond        p   661.095909           15

Initialize a dataframe for Land cover (LUC) area by Subcatchment (SUB) with values for use class 2 (lawns), 3 (non cranberry ag), 7 (impervous, non-road).

In [368]:
nLUCs = 13
SUBs =  list(in_df1['SUB'])*nLUCs
print(len(list(in_df1['SUB'])))
LUCs = [i+1 for i in range(nLUCs)]*len(list(in_df1['SUB']))
#print(LUCs)
df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
df_SUB_LUC
df_SUB_LUC
display(df_SUB_LUC)
df_merged = None
'''
coverclasses = [2,3,7]
for i in coverclasses:
    df_temp = in_df3
    df_temp['LUC'] = i
    df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
    df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'left')
display(df_merged)
'''

i = 2
j = 13
df_temp = in_df3
df_temp['LUC'] = i
df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
df_merged = df_temp[['SUB','LUC','Area_Ha']]
display(df_merged)
df_temp['LUC'] = j
df_temp['Area_Ha'] = -df_temp['Area_Ha'] 
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)

i = 3 # area to be added
j = 4 # area to be subtracted from 
df_temp = in_df3
df_temp['LUC'] = i
df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)
df_temp['LUC'] = j
df_temp['Area_Ha'] = -df_temp['Area_Ha'] 
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)

i = 7
j = 6
df_temp = in_df3
df_temp['LUC'] = i
df_temp['Area_Ha'] = df_temp['CC'+str(i)+'_Ha']
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)
df_temp['LUC'] = j
df_temp['Area_Ha'] = -df_temp['Area_Ha'] 
df_merged = df_merged.merge(df_temp[['SUB','LUC','Area_Ha']],'outer')
display(df_merged)

df_SUB_LUC_merged = pd.merge(df_SUB_LUC,df_merged,'left')
display(df_SUB_LUC_merged)
print(len(df_SUB_LUC_merged['SUB'].unique()))
df_SUB_LUC_merged.to_csv("df_SUB_LUC_merged.csv")
print(df_SUB_LUC_merged.sort_values(['LUC','SUB']))

50

     SUB  LUC
0      0    1
1      2    2
2     19    3
3     21    4
4     24    5
..   ...  ...
645   42    9
646   49   10
647    4   11
648   50   12
649   51   13

[650 rows x 2 columns]

    SUB  LUC    Area_Ha
0    22    2   0.000000
1     1    2   0.000000
2     3    2   0.000000
3    16    2   0.000000
4     2    2   0.882579
5    42    2  52.629572
6    27    2   0.000000
7    28    2   0.000000
8    35    2   2.183221
9    43    2  54.719890
10    9    2   0.000000
11   29    2   0.000000
12   30    2   0.000000
13   50    2   0.000000
14   46    2  16.072226
15   26    2   0.000000
16   17    2   0.000000
17   18    2   0.000000
18    0    2   0.000000
19    8    2   0.696773
20    7    2   0.743224
21   19    2   0.000000
22   21    2   0.000000
23   23    2   0.418064
24   33    2   0.000000
25   51    2   0.696773
26   34    2   0.929030
27   24    2   0.000000
28   25    2   0.000000
29   39    2   0.185806
30   20    2  51.003769
31   14    2   0.000000
32   15    2   0.000000
33   12    2   0.000000
34   13    2   0.000000
35   40    2   0.696773
36   41    2   4.877410
37   37    2   0.092903
38   38    2   0.092903
39   11    2   0.000000
40   10    2   0.000000
41   31    2   9.383207
42   32    2   0.278709
43   45    2  14.725132
44   47    2   1.300643
45   44    2  52.350863

    SUB  LUC    Area_Ha
0    22    2   0.000000
1     1    2   0.000000
2     3    2   0.000000
3    16    2   0.000000
4     2    2   0.882579
..  ...  ...        ...
87   31   13  -9.383207
88   32   13  -0.278709
89   45   13 -14.725132
90   47   13  -1.300643
91   44   13 -52.350863

[92 rows x 3 columns]

     SUB  LUC   Area_Ha
0     22    2  0.000000
1      1    2  0.000000
2      3    2  0.000000
3     16    2  0.000000
4      2    2  0.882579
..   ...  ...       ...
133   31    3  0.000000
134   32    3  0.000000
135   45    3  0.741384
136   47    3  0.000000
137   44    3  0.000000

[138 rows x 3 columns]

     SUB  LUC   Area_Ha
0     22    2  0.000000
1      1    2  0.000000
2      3    2  0.000000
3     16    2  0.000000
4      2    2  0.882579
..   ...  ...       ...
179   31    4 -0.000000
180   32    4 -0.000000
181   45    4 -0.741384
182   47    4 -0.000000
183   44    4 -0.000000

[184 rows x 3 columns]

     SUB  LUC    Area_Ha
0     22    2   0.000000
1      1    2   0.000000
2      3    2   0.000000
3     16    2   0.000000
4      2    2   0.882579
..   ...  ...        ...
225   31    7   8.198931
226   32    7   7.786961
227   45    7  11.391901
228   47    7   1.100340
229   44    7  25.710488

[230 rows x 3 columns]

     SUB  LUC    Area_Ha
0     22    2   0.000000
1      1    2   0.000000
2      3    2   0.000000
3     16    2   0.000000
4      2    2   0.882579
..   ...  ...        ...
271   31    6  -8.198931
272   32    6  -7.786961
273   45    6 -11.391901
274   47    6  -1.100340
275   44    6 -25.710488

[276 rows x 3 columns]

     SUB  LUC   Area_Ha
0      0    1       NaN
1      2    2  0.882579
2     19    3  0.000000
3     21    4 -0.000000
4     24    5       NaN
..   ...  ...       ...
645   42    9       NaN
646   49   10       NaN
647    4   11       NaN
648   50   12       NaN
649   51   13 -0.696773

[650 rows x 3 columns]

50
     SUB  LUC    Area_Ha
0      0    1        NaN
377    1    1        NaN
351    2    1        NaN
78     3    1        NaN
247    4    1        NaN
..   ...  ...        ...
493   46   13 -16.072226
194   47   13  -1.300643
246   49   13        NaN
298   50   13  -0.000000
649   51   13  -0.696773

[650 rows x 3 columns]

When septic unit data are unavailable. We estimate septic units from the following information sources.

Estimate fraction of total population (k_Pop) living in each subwatershed using one of two methods:
1. Impervious Area (USEGENCODE == 2): dividing the total impervious area by the impervious area within each subwatershed. 
2. Residential Use Codes (USEGENCODE == 10,11,12,13): classify polygons as housing units if they fall under a residential use code

In [460]:
in_df2["ResidentialUnit"] = (in_df2.COVERCODE == 2) & np.isin(in_df2.USEGENCODE,[10,11,12,13])
totalHousingUnits = in_df2['ResidentialUnit'].sum()
df_HU_SUB = in_df2.groupby('SUB')['ResidentialUnit'].sum().reset_index(name='ResUnits')
df_HU_SUB['ResImp_Fraction'] = df_HU_SUB['ResUnits']/totalHousingUnits
display(df_HU_SUB)

totalHousingArea = in_df2.loc[in_df2['ResidentialUnit'], 'Area_Ha'].sum()
df_RIA_SUB = in_df2.loc[in_df2['COVERCODE']==2].groupby('SUB')['Area_Ha'].sum().reset_index(name='Area_Ha')
df_RIA_SUB ['ResImpArea_Fraction'] = df_imp_sub['Area_Ha']/totalImpervious
display(df_RIA_SUB)

    SUB  ResUnits  ResImp_Fraction
0     0        22         0.001793
1     1         7         0.000571
2     2        71         0.005787
3     3         7         0.000571
4     4        49         0.003994
5     5       535         0.043606
6     6         0         0.000000
7     7        35         0.002853
8     8        23         0.001875
9     9        12         0.000978
10   10        16         0.001304
11   11         2         0.000163
12   12        37         0.003016
13   13        19         0.001549
14   14         2         0.000163
15   15         9         0.000734
16   16        18         0.001467
17   17         8         0.000652
18   18        20         0.001630
19   19         8         0.000652
20   20      2573         0.209716
21   21        33         0.002690
22   22         6         0.000489
23   23         0         0.000000
24   24         9         0.000734
25   25        24         0.001956
26   26         7         0.000571
27   27         1         0.000082
28   28         0         0.000000
29   29         1         0.000082
30   30        28         0.002282
31   31       221         0.018013
32   32        45         0.003668
33   33        22         0.001793
34   34        71         0.005787
35   35       153         0.012470
36   37         0         0.000000
37   38         6         0.000489
38   39        67         0.005461
39   40        36         0.002934
40   41       108         0.008803
41   42      2231         0.181840
42   43      2048         0.166925
43   44      1927         0.157063
44   45       677         0.055180
45   46       809         0.065939
46   47        61         0.004972
47   49        73         0.005950
48   50        36         0.002934
49   51        96         0.007825

    SUB     Area_Ha  ResImpArea_Fraction
0     0    0.438803             0.000710
1     1    0.568055             0.000920
2     2    9.127806             0.014778
3     3    3.252814             0.005266
4     4    3.253769             0.005268
5     5   24.751324             0.040072
6     6    0.206291             0.000334
7     7    5.766935             0.009337
8     8    5.321510             0.008615
9     9    1.442824             0.002336
10   10    1.505760             0.002438
11   11    0.110000             0.000178
12   12    1.861337             0.003013
13   13    2.290622             0.003708
14   14    0.205151             0.000332
15   15    0.653402             0.001058
16   16    1.502933             0.002433
17   17    1.447216             0.002343
18   18    8.271266             0.013391
19   19    0.069937             0.000113
20   20   93.600936             0.151539
21   21    3.087289             0.004998
22   22    1.205233             0.001951
23   23    0.475244             0.000769
24   24    1.791935             0.002901
25   25    1.139284             0.001844
26   26    2.427928             0.003931
27   27    0.274794             0.000445
28   28    1.217512             0.001971
29   29    0.180677             0.000293
30   30    3.511793             0.005686
31   31   11.584831             0.018756
32   32   22.403081             0.036270
33   33    2.979794             0.004824
34   34    8.463236             0.013702
35   35   18.182219             0.029437
36   37    0.203678             0.000330
37   38    0.227695             0.000369
38   39   14.780376             0.023929
39   40   14.908715             0.024137
40   41   40.794139             0.066045
41   42  109.954949             0.178016
42   43   94.077829             0.152311
43   44   42.819820             0.069325
44   45   18.183048             0.029438
45   46   18.107046             0.029315
46   47    1.893587             0.003066
47   49    2.514357             0.004071
48   50    3.379694             0.005472
49   51   11.250627             0.018215

In [375]:
totalImpervious = in_df2.loc[in_df2['COVERCODE']==2, 'Area_Ha'].sum()
df_imp_sub = in_df2.loc[in_df2['COVERCODE']==2].groupby('SUB')['Area_Ha'].sum().reset_index(name='Area_Ha')
df_imp_sub['Impervious_Fraction'] = df_imp_sub['Area_Ha']/totalImpervious

In [426]:
#import numpy as np
#import matplotlib.pyplot as plt 
#from scipy import stats


def fn_round_sig(x, sig=2):
    from math import log10, floor
    return round(x, sig-int(floor(log10(abs(x))))-1)
fn_round_sig(1234243, 3)

1230000

In [461]:
def fn_linreg_plot (x=None,y=None,sig=3):
    import numpy as np
    import matplotlib.pyplot as plt 
    from scipy import stats
    plt.rcParams.update({'font.sans-serif':'Arial'})
    if x is None:
        print("x not supplied, using default array")
        x = np.array(range(1,20))
    print("x:",x)
    if y is None: 
        print("y not supplied, randomly generating default array based on x")
        y = x + np.random.normal(size=len(x))*np.mean(x)/3
    print("x:",y)   
    lm = stats.linregress(x,y)
    gradient, intercept, r_value, p_value, std_err = lm
    mn=np.min(x)
    mx=np.max(x)
    x1=np.linspace(mn,mx,500)
    y1=gradient*x1+intercept
    plt.plot(x,y,'ob')
    plt.plot(x1,y1,'-r')
    label = "n="+str(len(x))+", r^2="+str(fn_round_sig(r_value,sig))+", p="+str(fn_round_sig(p_value,sig))
    plt.text(x=np.min(x),y=np.max(y)*.99,s=label)
    label = "y = "+str(fn_round_sig(gradient,sig))+"x +"+str(fn_round_sig(intercept,sig))
    plt.text(x=np.min(x),y=np.max(y)*.99-np.max(y)*0.07,s=label)
    plt.show()
    return(lm)
#fn_linreg_plot()

In [27]:
df1['k_Pop'] = None
df1 = pd.merge(df1,df_imp_sub[['SUB','Impervious_Fraction']])
df1 = pd.merge(df1,df_HU_SUB[['SUB','ResUnits']])
df1 = pd.merge(df1,df_RIA_SUB[['SUB','ResImpArea_Fraction']])
# how well do these metrics align
fn_linreg_plot(x=df1.Impervious_Fraction,y=df1.SepticUnits)
fn_linreg_plot(x=df1.ResUnits,y=df1.SepticUnits)
fn_linreg_plot(x=df1.ResImpArea_Fraction,y=df1.SepticUnits)

df1['k_Pop'] = df1.loc[:,'ResImp_Fraction']
display(df1)

NameError: name 'df_imp_sub' is not defined

Reclassify land use using Nload cover codes for default scenario

In [377]:
# GENERATE DICTIONARY OF CONDITIONS FOR RECLASSIFYING LAND USE

# specific active cranberry: where other farming makes up a non zero portion of cultivated and hay/pasture cover types
specific_active_cranberry = '(np.isin(df.CropStatus,"active"))'

# general active cranberry: use where active cranberry makes up over 99% of COVERCODE 6 and 7. 
general_active_cranberry = '((np.isin(df.CropStatus,"active"))|((df.COVERCODE == 21) & (df.USEGENCODE==7))|(np.isin(df.COVERCODE,[6,7])))'

active_cranberry = specific_active_cranberry
abandoned_cranberry = 'np.isin(df["FID"],df[df.CropStatus == "abandoned"]["FID"])'
flowthrough = 'np.isin(df["FID"],df[df.Bog_type == "flowthrough"]["FID"])'
#abandoned_cranberry = '(np.isin(df.CropStatus,"abandoned"))'
#flowthrough = '(np.isin(df.Bog_type,"flowthrough"))'
waterbody = '(np.isin(df.COVERCODE,[22,21]) & np.invert('+active_cranberry+'))'
# condition dictionary
SPECIFIC = {
    # THE FIRST APPEARING CONDITION TAKES PRIORITY IN NP.SELECT
    # key (LUC): value (condition string)
     # 4: "Agriculture, Active Cranberry, Flowthrough"
    4: active_cranberry+' & '+flowthrough,
    # 5: "Agriculture, Active Cranberry, Non Flowthrough"
    5: active_cranberry+' & (np.invert('+flowthrough+'))',
    # 11: "Retired Cranberry, Flowthrough"
    11: abandoned_cranberry+' & '+flowthrough,
    # 12: "Retired Cranberry, Non flowthrough"
    12: abandoned_cranberry+' & np.invert('+flowthrough+')',
    # 1: "Natural Uplands"
    1: '(df.COVERCODE >= 8) & (df.COVERCODE <= 12)',
     # 6: "Impervious, Roads"
    6: '(df.COVERCODE == 2)',
    # 3: "Agriculture, Non Cranberry"
    3: '(np.isin(df.COVERCODE,[6,7])) & (np.invert('+active_cranberry+'))',
    # 8: "Recieving Body (Estuary)"
    8: '(df.SUB == "0") & ((df.COVERCODE == 23)|'+waterbody+')', # note that SUB is a string
    # 9: "Freshwater Ponds and Lakes"
    9: '(df.SUB != "0") &' + waterbody,
    # 10: "Wetlands"
    10: '(df.COVERCODE >= 13) & (df.COVERCODE <= 18)',
    # 2: "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE is [False]', # this will be calculated separately
    # 7: "Impervious, Non-Roads"
    7: 'df.COVERCODE is [False]', # this will be calculated separately
    # 13: "Other (Bare land or Shoreline)"
    13: 'df.COVERCODE is [False]'}

GENERAL = {
    # THE FIRST APPEARING CONDITION TAKES PRIORITY IN NP.SELECT
    # key (LUC): value (condition string)
     # 4: "Agriculture, Active Cranberry, Flowthrough"
    4: active_cranberry+' & '+flowthrough,
    # 5: "Agriculture, Active Cranberry, Non Flowthrough"
    5: active_cranberry+' & (np.invert('+flowthrough+'))',
    # 11: "Retired Cranberry, Flowthrough"
    11: abandoned_cranberry+' & '+flowthrough,
    # 12: "Retired Cranberry, Non flowthrough"
    12: abandoned_cranberry+' & np.invert('+flowthrough+')',
    # 1: "Natural Uplands"
    1: 'df.COVERCODE.between(8, 12, inclusive="both")',
     # 6: "Impervious, Roads"
    6: '(df.COVERCODE == 2) & (df.USEGENCODE == 55)',
    ## 3: "Agriculture, Non Cranberry"
    #3: 'df.COVERCODE == [False]',
    # 8: "Recieving Body (Estuary)"
    8: '(df.SUB == "0") & ((df.COVERCODE == 23)|'+waterbody+')', # note that SUB is a string
    # 9: "Freshwater Ponds and Lakes"
    9: '(df.SUB != "0") &' + waterbody,
    # 10: "Wetlands"
    10: 'df.COVERCODE.between(13, 18, inclusive="both")',
    # 2: "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE == 5',
    # 7: "Impervious, Non-Roads"
    7: '(df.COVERCODE == 2) & (df.USEGENCODE != 55)',
    # 13: "Other (Bare land or Shoreline)"
    13: 'np.isin(df.COVERCODE,[19,20])'
}

BASELINE = GENERAL    

# checking condtions 
df = pd.DataFrame({"FID":[0,1,2,3],
                   "COVERCODE":[21,21]*2,
                   "SUB":["0","1"]*2,
                   "CropStatus":["active"]*2 + ["abandoned"]*2,
                   "Bog_type":["","flowthrough"]*2,
                   "USEGENCODE":[0,0,0,0],
                   "USE_CODE":[0,0,0,0]})
df = pd.DataFrame({"FID":[4,5,6,7],
                   "COVERCODE":[2,5]*2,
                   "SUB":["0","1"]*2,
                   "CropStatus":[None]*2 + [None]*2,
                   "Bog_type":[None,None]*2,
                   "USEGENCODE":[55,55,0,0],
                   "USE_CODE":[0,0,0,0]})
df = pd.DataFrame({"FID":[8,9,10,11],
                   "COVERCODE":[9,15,19,22],
                   "SUB":["0","1"]*2,
                   "CropStatus":[None]*2 + [None]*2,
                   "Bog_type":[None,None]*2,
                   "USEGENCODE":[55,55,0,0],
                   "USE_CODE":[0,0,0,0]})
df["8"]= eval(BASELINE[8])
df["9"]= eval(BASELINE[9])
df["11"]= eval(BASELINE[11])
df["12"]= eval(BASELINE[12])
df["2"]= eval(BASELINE[2])
df["6"]= eval(BASELINE[6])
df["7"]= eval(BASELINE[7])
df["13"]= eval(BASELINE[13])
df["10"]= eval(BASELINE[10])
df["1"]= eval(BASELINE[1])

condlist = "["+", ".join(list(BASELINE.values()))+"]"
choicelist = list(BASELINE.keys())
df["LUC"] = np.select(eval(condlist),choicelist,13)
print(df)

   FID  COVERCODE SUB CropStatus Bog_type  ...      7     13     10      1  LUC
0    8          9   0       None     None  ...  False  False  False   True    1
1    9         15   1       None     None  ...  False  False   True  False   10
2   10         19   0       None     None  ...  False   True  False  False   13
3   11         22   1       None     None  ...  False  False  False  False    9

[4 rows x 18 columns]

In [10]:
df = in_df2
for i in list(BASELINE.keys()): 
    print("True is in "+str(i)+"....",True in eval(BASELINE[i]))

True is in 4.... True
True is in 5.... True
True is in 11.... False
True is in 12.... True
True is in 1.... True
True is in 6.... True
True is in 8.... True
True is in 9.... True
True is in 10.... True
True is in 2.... True
True is in 7.... True
True is in 13.... True

In [11]:
# declare land use class (LUC) reclasssification function
def fn_reclassify_LUC(df,dictionary,default=13):
    condlist = "["+", ".join(list(dictionary.values()))+"]"
    choicelist = list(dictionary.keys())
    #print(condlist)
    #print(choicelist)
    df["LUC"] =  np.select(eval(condlist),choicelist,default)
    return(df)

In [14]:
# execute reclassification subroutine
df2 = fn_reclassify_LUC(in_df2,BASELINE)
print("Number of LUC == 13:",sum(df2['LUC']==2))
# replace whitespace data with NaN
df2 = df2.replace(r'^\s*$', np.nan, regex=True)
print(df2.columns)
#df2["LUC"] =  np.where(((df2['LUC']==9) & (df2['SUB']==0)),8,df['LUC'])
# sum land area by subcatchment and LUC
def fn_sum_by_sub_and_luc(df_SUB_LUC_Area1,df_SUB_LUC,df_SUB_LUC_Area2):
    print(df_SUB_LUC)
    df2_SUB_LUC_merged = pd.merge(df_SUB_LUC,df_SUB_LUC_Area1,'left')
    print(df_SUB_LUC)
    Area_Ha = df2_SUB_LUC_merged['Area_Ha'].fillna(0) + df_SUB_LUC_Area2['Area_Ha'].fillna(0)
    print(Area_Ha.sum())
    print(len(Area_Ha))
    df_SUB_LUC_AREA = df_SUB_LUC
    df_SUB_LUC_AREA['Area_Ha'] = Area_Ha
    return(df_SUB_LUC_AREA)

df2_SUB_CC_Area = df2.groupby(['SUB','LUC'])['Area_Ha'].sum().reset_index(name='Area_Ha')
print(df2_SUB_CC_Area)
print(df2_SUB_CC_Area.groupby('LUC')['Area_Ha'].sum())
print(df_SUB_LUC)
print(df_SUB_LUC_merged)
df2_i = fn_sum_by_sub_and_luc(df2_SUB_CC_Area,df_SUB_LUC,df_SUB_LUC_merged)
df2_i.to_csv('df2_SUB_CC_Area.csv')
print(df_SUB_LUC)

Number of LUC == 13: 22795
Index(['Unnamed: 0', 'FID', 'FID_out_ag', 'FID_LANDCO', 'COVERNAME',
       'COVERCODE', 'USEGENNAME', 'USEGENCODE', 'USE_CODE', 'POLY_TYPE', 'FY',
       'TOWN_ID', 'TILENAME', 'Shape_Leng', 'Shape_Area', 'FID_agawam',
       'sf_area', 'SubWat_Num', 'New_ID', 'ft_perim', 'SubW_Names', 'SUB',
       'Terminus', 'F_', 'Area_Ha', 'FID_in_war', 'WMA_NO', 'OWNER', 'ADDRESS',
       'TOWN', 'REGION', 'BOG_NAME', 'STAFF', 'PROGRAM', 'DATE_ENTER',
       'COMMENT', 'BIRTHREG', 'PERMIT_NUM', 'CropStatus', 'Bog_Code',
       'Bog_Name_2', 'Active', 'Plant_Year', 'Variety', 'Var_Class',
       'Bog_type', 'Area_sqft', 'Area_ha_1', 'renovated', 'ren_yr',
       'new_upland', 'new_yr', 'New_ID_1', 'SubW_Nam_1', 'Basin_1', 'BOG_FID',
       'LUC'],
      dtype='object')
     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
334   51    7   10.970016
335   51    9   94.085129
336   51   10    3.509481
337   51   12    0.228525
338   51   13    2.406747

[339 rows x 3 columns]
LUC
1     7930.501797
2      433.396613
4      130.642417
5      550.333431
6      192.111456
7      425.530998
9     1213.857550
10     644.182870
12      18.986086
13     467.466249
Name: Area_Ha, dtype: float64
     SUB  LUC
0      0    1
1      2    2
2     19    3
3     21    4
4     24    5
..   ...  ...
645   42    9
646   49   10
647    4   11
648   50   12
649   51   13

[650 rows x 2 columns]
     SUB  LUC   Area_Ha
0      0    1       NaN
1      2    2  0.882579
2     19    3  0.000000
3     21    4 -0.000000
4     24    5       NaN
..   ...  ...       ...
645   42    9       NaN
646   49   10       NaN
647    4   11       NaN
648   50   12       NaN
649   51   13 -0.696773

[650 rows x 3 columns]
     SUB  LUC
0      0    1
1      2    2
2     19    3
3     21    4
4     24    5
..   ...  ...
645   42    9
646   49   10
647    4   11
648   50   12
649   51   13

[650 rows x 2 columns]
     SUB  LUC
0      0    1
1      2    2
2     19    3
3     21    4
4     24    5
..   ...  ...
645   42    9
646   49   10
647    4   11
648   50   12
649   51   13

[650 rows x 2 columns]
12007.009466206891
650
     SUB  LUC    Area_Ha
0      0    1   0.952013
1      2    2   4.664050
2     19    3   0.000000
3     21    4   0.000000
4     24    5   0.000000
..   ...  ...        ...
645   42    9  77.414554
646   49   10   0.405542
647    4   11   0.000000
648   50   12   0.000000
649   51   13   1.709974

[650 rows x 3 columns]

In [15]:
df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
df_SUB_LUC_merged_general = df_SUB_LUC_merged
df_SUB_LUC_merged_general['Area_Ha'] = 0
print(df_SUB_LUC_merged_general)
df2_i = fn_sum_by_sub_and_luc(df2_SUB_CC_Area,df_SUB_LUC,df_SUB_LUC_merged_general).dropna()
print(df2_i)
# Aggregate Data with Pandas .groupby()
df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area_general"+".csv"))
display(df2_i)
# check that area is within one tenth of a Ha of input
print('Difference in Total Area (Ha):',round(df2['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

     SUB  LUC  Area_Ha
0      0    1        0
1      2    2        0
2     19    3        0
3     21    4        0
4     24    5        0
..   ...  ...      ...
645   42    9        0
646   49   10        0
647    4   11        0
648   50   12        0
649   51   13        0

[650 rows x 3 columns]
     SUB  LUC
0      0    1
1      2    2
2     19    3
3     21    4
4     24    5
..   ...  ...
645   42    9
646   49   10
647    4   11
648   50   12
649   51   13

[650 rows x 2 columns]
     SUB  LUC
0      0    1
1      2    2
2     19    3
3     21    4
4     24    5
..   ...  ...
645   42    9
646   49   10
647    4   11
648   50   12
649   51   13

[650 rows x 2 columns]
12007.009466206891
650
     SUB  LUC    Area_Ha
0      0    1   0.952013
1      2    2   3.781471
2     19    3   0.000000
3     21    4   0.000000
4     24    5   0.000000
..   ...  ...        ...
645   42    9  77.414554
646   49   10   0.405542
647    4   11   0.000000
648   50   12   0.000000
649   51   13   2.406747

[650 rows x 3 columns]

     SUB  LUC    Area_Ha
0      0    1   0.952013
1      2    2   3.781471
2     19    3   0.000000
3     21    4   0.000000
4     24    5   0.000000
..   ...  ...        ...
645   42    9  77.414554
646   49   10   0.405542
647    4   11   0.000000
648   50   12   0.000000
649   51   13   2.406747

[650 rows x 3 columns]

Difference in Total Area (Ha): -0.0

Reclassify terminus and land use based on cranberry management scenarios

In [16]:
# List of subwatersheds with cranberry at terminus
SUB_LIST_1 = [4, 31, 33, 34, 35, 41]
# List of subwatersheds with flowthrough cranberry at terminus
SUB_LIST_4 = [4, 33, 34]
# List of cranberry bogs at terminus of subwatersheds
BOG_FID_LIST_1 = [307,301,318,295,294,326,310,242,241,259,269,155,156,148,195,194,193,192]
BOG_FID_LIST_1 = [str(i) for i in BOG_FID_LIST_1]
print("total restored area (Ha):",df2[np.isin(df2['BOG_FID'],BOG_FID_LIST_1)]['Area_Ha'].sum())
print(BOG_FID_LIST_1)

total restored area (Ha): 60.71375925858345
['307', '301', '318', '295', '294', '326', '310', '242', '241', '259', '269', '155', '156', '148', '195', '194', '193', '192']

In [18]:
# Dictionary of Scenario Conditions
LUC_scenarios = {
    # 0: "Baseline (Do nothing)"
    0: 'False',
    #1: "Restore Select Bogs to Wetlands"
    1: "np.isin(df2['BOG_FID'],BOG_FID_LIST_1)",
    #2: "Restore All Retired Bogs to Wetlands"
    2: "np.isin(df2['FID'],df2[df2.CropStatus == 'abandoned']['FID'])",
    #3: "Retire All Flowthrough Bogs"
    3: "np.isin(df2['FID'],df2[df2.Bog_type == 'flowthrough']['FID'])",
    #4: "Restore All Flowthrough Bogs to Wetlands"
    4: "np.isin(df2['FID'],df2[df2.Bog_type == 'flowthrough']['FID'])"
}
Terminus_scenarios = {
    # 0: "Baseline (Do nothing)"
    0: '[False]',
    #1: "Restore Select Bogs to Wetlands"
    1: 'np.isin(df1[\'SUB\'],SUB_LIST_1)',
    #2: "Restore All Retired Bogs to Wetlands"
    2: '[False]',
    #3: "Retire All Flowthrough Bogs"
    3: '[False]',
    #4: "Restore All Flowthrough Bogs to Wetlands"
    4: 'np.isin(df1[\'SUB\'],SUB_LIST_4)'
}
#df2 = df2.replace(r'^\s*$', np.nan, regex=True)
#display(df2)
#True in [i is 'abandoned' for i in df2.CropStatus]
Areasum = df2[df2.CropStatus == 'abandoned'].groupby(['SubW_Names','LUC'])['Area_Ha'].sum()
print(Areasum)
print(df2[df2.FID==59495]['CropStatus'] == 'abandoned')
print(df2[df2.FID==114647]['Bog_type'] == 'flowthrough')
#print([i is "abandoned" for i in df2.CropStatus.astype("|S")])
print(df2[['BOG_FID','CropStatus','SUB']].dtypes)
print(eval(LUC_scenarios[2]))
df2.BOG_FID.to_csv("BOG_FID.csv")
print("Is 'True' in the result: ",True in eval(Terminus_scenarios[4]))
Terminus_scenarios.keys()
Terminus_scenarios.values()

SubW_Names           LUC
Agawam River         12     1.470129
Agawam River North   12     1.037043
Crab Cove            12     3.175952
Halfway Pond         12     0.228525
Mill Pond            12     5.810993
Wankinco R N LT10    12     3.670560
Wareham River South  12     0.146782
Wareham River West   12     3.446101
Name: Area_Ha, dtype: float64
59495    True
Name: CropStatus, dtype: bool
114647    True
Name: Bog_type, dtype: bool
BOG_FID       object
CropStatus    object
SUB            int64
dtype: object
[False False False ... False False False]
Is 'True' in the result:  True

dict_values(['[False]', "np.isin(df1['SUB'],SUB_LIST_1)", '[False]', '[False]', "np.isin(df1['SUB'],SUB_LIST_4)"])

In [19]:
# For each scenario reclassify land use, then sum up area by land use and subwatershed
# default value if scenario condition is true
LUC_iftrue = 10
Terminus_iftrue = "w"
scens = [str(i) for i in range(5)]
list(LUC_scenarios.keys())

[0, 1, 2, 3, 4]

In [23]:
# For each scenario reclassify land use,
out_df2 = df2
out_df1 = df1
# switch Terminus of Maple Swamp from w to s
rownums = np.where(out_df1['SubW_Name']=='Maple Swamp')[0]
out_df1.at[rownums,'Terminus']='s'
# default LUC value if scenario condition is true
LUC_iftrue = 10
# default Terminus value
Terminus_iftrue = "w"
for i in list(LUC_scenarios.keys()):
    print (i)
    # alternative land use for scenario 
    if i == 3: 
        LUC_iftrue = 11
    else: 
        LUC_iftrue = 10
        
    # alter LUC based on scenario conditions
    #np.where(logic,if_true, if_false)
    out_df2["LUC"+str(i)] = np.where(eval(LUC_scenarios[i]),LUC_iftrue,df2.LUC)
    sum((np.where(eval(LUC_scenarios[i]),LUC_iftrue,df2.LUC)))
    out_df1["Terminus"+str(i)] = np.where(eval(Terminus_scenarios[i]),Terminus_iftrue,df1.Terminus)
display(out_df2)
display(out_df1)

print(out_df2.groupby('LUC0')['Area_Ha'].sum())
print(out_df2.groupby('LUC1')['Area_Ha'].sum())
print(out_df2.groupby('LUC2')['Area_Ha'].sum())
print(out_df2.groupby('LUC3')['Area_Ha'].sum())
print(out_df2.groupby('LUC4')['Area_Ha'].sum())

#Save the scenario reclassifications to csv
out_path1 = os.path.join(odr,inname1+'_reclass.csv')
out_path2 = os.path.join(odr,inname2+'_reclass.csv')
out_df1.to_csv(out_path1)
out_df2.to_csv(out_path2)

0
1
2
3
4

        Unnamed: 0     FID  FID_out_ag  FID_LANDCO  ... LUC1  LUC2 LUC3  LUC4
0                0       0           0    17132259  ...    7     7    7     7
1                1       1           1    17132780  ...    1     1    1     1
2                2       2           2    17132840  ...    1     1    1     1
3                3       3           3    17132841  ...    1     1    1     1
4                4       4           4    17132842  ...    1     1    1     1
...            ...     ...         ...         ...  ...  ...   ...  ...   ...
114645      114645  114645       97654    17300857  ...   10     4   11    10
114646      114646  114646       97771    17301726  ...   10     4   11    10
114647      114647  114647       97904    17302602  ...   10     4   11    10
114648      114648  114648      109625    17296893  ...    2     2    2     2
114649      114649  114649      110369    17302239  ...    1     1    1     1

[114650 rows x 62 columns]

    SUB                 SubW_Name Terminus  ...  Terminus2  Terminus3 Terminus4
0     0                   Estuary        e  ...          e          e         e
1     2   Agawam Reservoir S LT10        p  ...          p          p         p
2    19         Fearing Pond GT10        p  ...          p          p         p
3    21         Fearing Pond LT10        p  ...          p          p         p
4    24     Little Long Pond GT10        p  ...          p          p         p
5    25     Little Long Pond LT10        p  ...          p          p         p
6    22                Abner Pond        p  ...          p          p         p
7    23            Five Mile Pond        p  ...          p          p         p
8    26             East Branch N        s  ...          s          s         s
9    30          Charge Pond LT10        p  ...          p          p         p
10   28         Barrett Pond LT10        p  ...          p          p         p
11   29          Charge Pond GT10        p  ...          p          p         p
12   17       East Head Pond GT10        p  ...          p          p         p
13   27         Barrett Pond GT10        p  ...          p          p         p
14   18       East Head Pond LT10        p  ...          p          p         p
15   13        New Long Pond LT10        p  ...          p          p         p
16   12        New Long Pond GT10        p  ...          p          p         p
17    9                Bumps Pond        p  ...          p          p         p
18   11  Three Cornered Pond GT10        p  ...          p          p         p
19   10  Three Cornered Pond LT10        p  ...          p          p         p
20   16   Agawam Reservoir S GT10        p  ...          p          p         p
21   14      New Grassy Pond GT10        p  ...          p          p         p
22   15      New Grassy Pond LT10        p  ...          p          p         p
23    8            Fawn Pond GT10        p  ...          p          p         p
24    7            Fawn Pond LT10        p  ...          p          p         p
25    1   Agawam Reservoir N GT10        p  ...          p          p         p
26    3   Agawam Reservoir N LT10        p  ...          p          p         p
27   32         Wankinco R N LT10        s  ...          s          s         s
28   37                Sandy Pond        p  ...          p          p         p
29   38            Spectacle Pond        p  ...          p          p         p
30   20                 Mill Pond        p  ...          p          p         p
31   35                bog stream        s  ...          s          s         s
32   40         Parker Mills Pond        p  ...          p          p         p
33   41                Rose Brook        s  ...          s          s         s
34   39               Maple Swamp        s  ...          s          s         s
35   33            Frogfoot Brook        s  ...          s          s         w
36   34              Harlow Brook        s  ...          s          s         w
37   31         Wankinco R N GT10        s  ...          s          s         s
38   43         Broad Marsh River        s  ...          s          s         s
39   44        Wareham River West        s  ...          s          s         s
40   45        Wareham River East        s  ...          s          s         s
41   46                 Crab Cove        e  ...          e          e         e
42   47       Wareham River South        e  ...          e          e         e
43   42              Agawam River        s  ...          s          s         s
44   50              College Pond        p  ...          p          p         p
45   51              Halfway Pond        p  ...          p          p         p

[46 rows x 10 columns]

LUC0
1     7930.501797
2      433.396613
4      130.642417
5      550.333431
6      192.111456
7      425.530998
9     1213.857550
10     644.182870
12      18.986086
13     467.466249
Name: Area_Ha, dtype: float64
LUC1
1     7930.501797
2      433.396613
4       99.767703
5      520.494386
6      192.111456
7      425.530998
9     1213.857550
10     704.896629
12      18.986086
13     467.466249
Name: Area_Ha, dtype: float64
LUC2
1     7930.501797
2      433.396613
4      130.642417
5      550.333431
6      192.111456
7      425.530998
9     1213.857550
10     663.168956
13     467.466249
Name: Area_Ha, dtype: float64
LUC3
1     7930.501797
2      433.396613
5      550.333431
6      192.111456
7      425.530998
9     1213.857550
10     644.182870
11     130.642417
12      18.986086
13     467.466249
Name: Area_Ha, dtype: float64
LUC4
1     7930.501797
2      433.396613
5      550.333431
6      192.111456
7      425.530998
9     1213.857550
10     774.825287
12      18.986086
13     467.466249
Name: Area_Ha, dtype: float64

In [371]:
#copy the original layer and add to the map
#fc1_reclass = arcpy.management.CopyFeatures(fc1, fc1+'_reclass')
fc2_reclass = arcpy.management.CopyFeatures(inname2, inname2+'_reclass')
print(fc2_reclass)
# Join the scenarios csv files with the copy of original layers
#arcpy.management.AddJoin(fc1_reclass, "FID", out_path1, "FID", "KEEP_ALL", "NO_INDEX_JOIN_FIELDS")
fc2_reclass = arcpy.management.AddJoin(fc2_reclass, "FID", out_path2, "FID", "KEEP_ALL", "NO_INDEX_JOIN_FIELDS")

C:\Workspace\Geodata\Nload\out_lclu16_agawam_cran_ident_reclass.shp

In [323]:
# Conditions for terminus transmission coefficient
df1_dict = {'w': 0.23,
'c': 1,
'e': 1,
's': 1,
'p': 1}
df1_conditions = '['+', '.join(['df1_i.Terminus =="' + k+'"' for k in df1_dict.keys()])+']'
df2_dict = {'9': 1,
'10': 1}
df2_conditions = '['+', '.join(['df2_i.Terminus =="' + k+'"' for k in df2_dict.keys()])+']'
# change terminus classifications    
for i in (LUC_scenarios.keys()):
    print (i) 

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    df1_i['c_T'] = np.select(eval(df1_conditions),df1_dict.values(),default=1)
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"Wareham_Terminus_and_Pop"+str(i)+".csv"))

    # then sum up area by land use and subwatershed and assign terminus coefficients
    df2_i = out_df2[['SUB','LUC'+str(i),'Area_Ha']]
    df2_i = df2_i.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')
    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC'})
    """    
    df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
    display(df_SUB_LUC)
    display(df_SUB_LUC_merged)
    df2_i = pd.merge(df_SUB_LUC,df2_i,'left')
    Area_Ha = df_SUB_LUC_merged['Area_Ha'].fillna(0) + df2_i['Area_Ha'].fillna(0)
    print(Area_Ha.sum())
    print(len(Area_Ha))
    df_SUB_LUC_AREA = df_SUB_LUC
    df_SUB_LUC_AREA['Area_Ha'] = Area_Ha
    df2_i = pd.merge(df_SUB_LUC_AREA,df1_i[['SUB','Terminus']])
    df2_i['c_T'] = np.select(eval(df2_conditions),df2_dict.values(),default=1)
    print("!!!!!!!!!!!!displaying df2_i after merge")
    """
    display(df2_i)
    df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area_p1_"+str(i)+".csv"))
    
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(out_df1['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

0

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits  c_T
0     0        e                   Estuary   322.510995            0  1.0
1     2        p   Agawam Reservoir S LT10   650.865795           19  1.0
2    19        p         Fearing Pond GT10    19.612364            0  1.0
3    21        p         Fearing Pond LT10   114.069335            0  1.0
4    24        p     Little Long Pond GT10    64.626888            0  1.0
5    25        p     Little Long Pond LT10   126.532533            0  1.0
6    22        p                Abner Pond    38.672989            0  1.0
7    23        p            Five Mile Pond    59.632582            9  1.0
8    26        s             East Branch N   194.998012            0  1.0
9    30        p          Charge Pond LT10   100.163457            0  1.0
10   28        p         Barrett Pond LT10    64.189598            0  1.0
11   29        p          Charge Pond GT10    13.109041            0  1.0
12   17        p       East Head Pond GT10   108.155991            0  1.0
13   27        p         Barrett Pond GT10     9.675401            0  1.0
14   18        p       East Head Pond LT10   249.676658            0  1.0
15   13        p        New Long Pond LT10    88.472716            0  1.0
16   12        p        New Long Pond GT10    79.717848            0  1.0
17    9        p                Bumps Pond    97.028408            0  1.0
18   11        p  Three Cornered Pond GT10    23.974446            0  1.0
19   10        p  Three Cornered Pond LT10    86.417185            0  1.0
20   16        p   Agawam Reservoir S GT10    68.226569            0  1.0
21   14        p      New Grassy Pond GT10     7.588577            0  1.0
22   15        p      New Grassy Pond LT10    39.327126            0  1.0
23    8        p            Fawn Pond GT10    71.440916           15  1.0
24    7        p            Fawn Pond LT10   260.067831           16  1.0
25    1        p   Agawam Reservoir N GT10    29.389232            0  1.0
26    3        p   Agawam Reservoir N LT10    76.512795            0  1.0
27   32        s         Wankinco R N LT10  1069.409533            6  1.0
28   37        p                Sandy Pond    32.718333            2  1.0
29   38        p            Spectacle Pond    33.683419            2  1.0
30   20        p                 Mill Pond  1914.756682         1098  1.0
31   35        s                bog stream   156.183216           47  1.0
32   40        p         Parker Mills Pond   229.990403           15  1.0
33   41        s                Rose Brook   324.010079           81  1.0
34   39        s               Maple Swamp   581.102851            4  1.0
35   33        s            Frogfoot Brook   353.089455            0  1.0
36   34        s              Harlow Brook   741.605814           20  1.0
37   31        s         Wankinco R N GT10   282.697492          202  1.0
38   43        s         Broad Marsh River   397.562503          437  1.0
39   44        s        Wareham River West   258.214260          132  1.0
40   45        s        Wareham River East   106.597979          270  1.0
41   46        e                 Crab Cove   125.113837          346  1.0
42   47        e       Wareham River South    82.934515           28  1.0
43   42        s              Agawam River   689.484831          833  1.0
44   50        p              College Pond   118.460120            0  1.0
45   51        p              Halfway Pond   661.095909           15  1.0

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
334   51    7   10.970016
335   51    9   94.085129
336   51   10    3.509481
337   51   12    0.228525
338   51   13    2.406747

[339 rows x 3 columns]

Difference in Total Area (Ha): -783.6
1

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits   c_T
0     0        e                   Estuary   322.510995            0  1.00
1     2        p   Agawam Reservoir S LT10   650.865795           19  1.00
2    19        p         Fearing Pond GT10    19.612364            0  1.00
3    21        p         Fearing Pond LT10   114.069335            0  1.00
4    24        p     Little Long Pond GT10    64.626888            0  1.00
5    25        p     Little Long Pond LT10   126.532533            0  1.00
6    22        p                Abner Pond    38.672989            0  1.00
7    23        p            Five Mile Pond    59.632582            9  1.00
8    26        s             East Branch N   194.998012            0  1.00
9    30        p          Charge Pond LT10   100.163457            0  1.00
10   28        p         Barrett Pond LT10    64.189598            0  1.00
11   29        p          Charge Pond GT10    13.109041            0  1.00
12   17        p       East Head Pond GT10   108.155991            0  1.00
13   27        p         Barrett Pond GT10     9.675401            0  1.00
14   18        p       East Head Pond LT10   249.676658            0  1.00
15   13        p        New Long Pond LT10    88.472716            0  1.00
16   12        p        New Long Pond GT10    79.717848            0  1.00
17    9        p                Bumps Pond    97.028408            0  1.00
18   11        p  Three Cornered Pond GT10    23.974446            0  1.00
19   10        p  Three Cornered Pond LT10    86.417185            0  1.00
20   16        p   Agawam Reservoir S GT10    68.226569            0  1.00
21   14        p      New Grassy Pond GT10     7.588577            0  1.00
22   15        p      New Grassy Pond LT10    39.327126            0  1.00
23    8        p            Fawn Pond GT10    71.440916           15  1.00
24    7        p            Fawn Pond LT10   260.067831           16  1.00
25    1        p   Agawam Reservoir N GT10    29.389232            0  1.00
26    3        p   Agawam Reservoir N LT10    76.512795            0  1.00
27   32        s         Wankinco R N LT10  1069.409533            6  1.00
28   37        p                Sandy Pond    32.718333            2  1.00
29   38        p            Spectacle Pond    33.683419            2  1.00
30   20        p                 Mill Pond  1914.756682         1098  1.00
31   35        w                bog stream   156.183216           47  0.23
32   40        p         Parker Mills Pond   229.990403           15  1.00
33   41        w                Rose Brook   324.010079           81  0.23
34   39        s               Maple Swamp   581.102851            4  1.00
35   33        w            Frogfoot Brook   353.089455            0  0.23
36   34        w              Harlow Brook   741.605814           20  0.23
37   31        w         Wankinco R N GT10   282.697492          202  0.23
38   43        s         Broad Marsh River   397.562503          437  1.00
39   44        s        Wareham River West   258.214260          132  1.00
40   45        s        Wareham River East   106.597979          270  1.00
41   46        e                 Crab Cove   125.113837          346  1.00
42   47        e       Wareham River South    82.934515           28  1.00
43   42        s              Agawam River   689.484831          833  1.00
44   50        p              College Pond   118.460120            0  1.00
45   51        p              Halfway Pond   661.095909           15  1.00

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
331   51    7   10.970016
332   51    9   94.085129
333   51   10    3.509481
334   51   12    0.228525
335   51   13    2.406747

[336 rows x 3 columns]

Difference in Total Area (Ha): -783.6
2

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits  c_T
0     0        e                   Estuary   322.510995            0  1.0
1     2        p   Agawam Reservoir S LT10   650.865795           19  1.0
2    19        p         Fearing Pond GT10    19.612364            0  1.0
3    21        p         Fearing Pond LT10   114.069335            0  1.0
4    24        p     Little Long Pond GT10    64.626888            0  1.0
5    25        p     Little Long Pond LT10   126.532533            0  1.0
6    22        p                Abner Pond    38.672989            0  1.0
7    23        p            Five Mile Pond    59.632582            9  1.0
8    26        s             East Branch N   194.998012            0  1.0
9    30        p          Charge Pond LT10   100.163457            0  1.0
10   28        p         Barrett Pond LT10    64.189598            0  1.0
11   29        p          Charge Pond GT10    13.109041            0  1.0
12   17        p       East Head Pond GT10   108.155991            0  1.0
13   27        p         Barrett Pond GT10     9.675401            0  1.0
14   18        p       East Head Pond LT10   249.676658            0  1.0
15   13        p        New Long Pond LT10    88.472716            0  1.0
16   12        p        New Long Pond GT10    79.717848            0  1.0
17    9        p                Bumps Pond    97.028408            0  1.0
18   11        p  Three Cornered Pond GT10    23.974446            0  1.0
19   10        p  Three Cornered Pond LT10    86.417185            0  1.0
20   16        p   Agawam Reservoir S GT10    68.226569            0  1.0
21   14        p      New Grassy Pond GT10     7.588577            0  1.0
22   15        p      New Grassy Pond LT10    39.327126            0  1.0
23    8        p            Fawn Pond GT10    71.440916           15  1.0
24    7        p            Fawn Pond LT10   260.067831           16  1.0
25    1        p   Agawam Reservoir N GT10    29.389232            0  1.0
26    3        p   Agawam Reservoir N LT10    76.512795            0  1.0
27   32        s         Wankinco R N LT10  1069.409533            6  1.0
28   37        p                Sandy Pond    32.718333            2  1.0
29   38        p            Spectacle Pond    33.683419            2  1.0
30   20        p                 Mill Pond  1914.756682         1098  1.0
31   35        s                bog stream   156.183216           47  1.0
32   40        p         Parker Mills Pond   229.990403           15  1.0
33   41        s                Rose Brook   324.010079           81  1.0
34   39        s               Maple Swamp   581.102851            4  1.0
35   33        s            Frogfoot Brook   353.089455            0  1.0
36   34        s              Harlow Brook   741.605814           20  1.0
37   31        s         Wankinco R N GT10   282.697492          202  1.0
38   43        s         Broad Marsh River   397.562503          437  1.0
39   44        s        Wareham River West   258.214260          132  1.0
40   45        s        Wareham River East   106.597979          270  1.0
41   46        e                 Crab Cove   125.113837          346  1.0
42   47        e       Wareham River South    82.934515           28  1.0
43   42        s              Agawam River   689.484831          833  1.0
44   50        p              College Pond   118.460120            0  1.0
45   51        p              Halfway Pond   661.095909           15  1.0

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
326   51    6    0.280611
327   51    7   10.970016
328   51    9   94.085129
329   51   10    3.738006
330   51   13    2.406747

[331 rows x 3 columns]

Difference in Total Area (Ha): -783.6
3

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits  c_T
0     0        e                   Estuary   322.510995            0  1.0
1     2        p   Agawam Reservoir S LT10   650.865795           19  1.0
2    19        p         Fearing Pond GT10    19.612364            0  1.0
3    21        p         Fearing Pond LT10   114.069335            0  1.0
4    24        p     Little Long Pond GT10    64.626888            0  1.0
5    25        p     Little Long Pond LT10   126.532533            0  1.0
6    22        p                Abner Pond    38.672989            0  1.0
7    23        p            Five Mile Pond    59.632582            9  1.0
8    26        s             East Branch N   194.998012            0  1.0
9    30        p          Charge Pond LT10   100.163457            0  1.0
10   28        p         Barrett Pond LT10    64.189598            0  1.0
11   29        p          Charge Pond GT10    13.109041            0  1.0
12   17        p       East Head Pond GT10   108.155991            0  1.0
13   27        p         Barrett Pond GT10     9.675401            0  1.0
14   18        p       East Head Pond LT10   249.676658            0  1.0
15   13        p        New Long Pond LT10    88.472716            0  1.0
16   12        p        New Long Pond GT10    79.717848            0  1.0
17    9        p                Bumps Pond    97.028408            0  1.0
18   11        p  Three Cornered Pond GT10    23.974446            0  1.0
19   10        p  Three Cornered Pond LT10    86.417185            0  1.0
20   16        p   Agawam Reservoir S GT10    68.226569            0  1.0
21   14        p      New Grassy Pond GT10     7.588577            0  1.0
22   15        p      New Grassy Pond LT10    39.327126            0  1.0
23    8        p            Fawn Pond GT10    71.440916           15  1.0
24    7        p            Fawn Pond LT10   260.067831           16  1.0
25    1        p   Agawam Reservoir N GT10    29.389232            0  1.0
26    3        p   Agawam Reservoir N LT10    76.512795            0  1.0
27   32        s         Wankinco R N LT10  1069.409533            6  1.0
28   37        p                Sandy Pond    32.718333            2  1.0
29   38        p            Spectacle Pond    33.683419            2  1.0
30   20        p                 Mill Pond  1914.756682         1098  1.0
31   35        s                bog stream   156.183216           47  1.0
32   40        p         Parker Mills Pond   229.990403           15  1.0
33   41        s                Rose Brook   324.010079           81  1.0
34   39        s               Maple Swamp   581.102851            4  1.0
35   33        s            Frogfoot Brook   353.089455            0  1.0
36   34        s              Harlow Brook   741.605814           20  1.0
37   31        s         Wankinco R N GT10   282.697492          202  1.0
38   43        s         Broad Marsh River   397.562503          437  1.0
39   44        s        Wareham River West   258.214260          132  1.0
40   45        s        Wareham River East   106.597979          270  1.0
41   46        e                 Crab Cove   125.113837          346  1.0
42   47        e       Wareham River South    82.934515           28  1.0
43   42        s              Agawam River   689.484831          833  1.0
44   50        p              College Pond   118.460120            0  1.0
45   51        p              Halfway Pond   661.095909           15  1.0

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
334   51    7   10.970016
335   51    9   94.085129
336   51   10    3.509481
337   51   12    0.228525
338   51   13    2.406747

[339 rows x 3 columns]

Difference in Total Area (Ha): -783.6
4

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits   c_T
0     0        e                   Estuary   322.510995            0  1.00
1     2        p   Agawam Reservoir S LT10   650.865795           19  1.00
2    19        p         Fearing Pond GT10    19.612364            0  1.00
3    21        p         Fearing Pond LT10   114.069335            0  1.00
4    24        p     Little Long Pond GT10    64.626888            0  1.00
5    25        p     Little Long Pond LT10   126.532533            0  1.00
6    22        p                Abner Pond    38.672989            0  1.00
7    23        p            Five Mile Pond    59.632582            9  1.00
8    26        s             East Branch N   194.998012            0  1.00
9    30        p          Charge Pond LT10   100.163457            0  1.00
10   28        p         Barrett Pond LT10    64.189598            0  1.00
11   29        p          Charge Pond GT10    13.109041            0  1.00
12   17        p       East Head Pond GT10   108.155991            0  1.00
13   27        p         Barrett Pond GT10     9.675401            0  1.00
14   18        p       East Head Pond LT10   249.676658            0  1.00
15   13        p        New Long Pond LT10    88.472716            0  1.00
16   12        p        New Long Pond GT10    79.717848            0  1.00
17    9        p                Bumps Pond    97.028408            0  1.00
18   11        p  Three Cornered Pond GT10    23.974446            0  1.00
19   10        p  Three Cornered Pond LT10    86.417185            0  1.00
20   16        p   Agawam Reservoir S GT10    68.226569            0  1.00
21   14        p      New Grassy Pond GT10     7.588577            0  1.00
22   15        p      New Grassy Pond LT10    39.327126            0  1.00
23    8        p            Fawn Pond GT10    71.440916           15  1.00
24    7        p            Fawn Pond LT10   260.067831           16  1.00
25    1        p   Agawam Reservoir N GT10    29.389232            0  1.00
26    3        p   Agawam Reservoir N LT10    76.512795            0  1.00
27   32        s         Wankinco R N LT10  1069.409533            6  1.00
28   37        p                Sandy Pond    32.718333            2  1.00
29   38        p            Spectacle Pond    33.683419            2  1.00
30   20        p                 Mill Pond  1914.756682         1098  1.00
31   35        s                bog stream   156.183216           47  1.00
32   40        p         Parker Mills Pond   229.990403           15  1.00
33   41        s                Rose Brook   324.010079           81  1.00
34   39        s               Maple Swamp   581.102851            4  1.00
35   33        w            Frogfoot Brook   353.089455            0  0.23
36   34        w              Harlow Brook   741.605814           20  0.23
37   31        s         Wankinco R N GT10   282.697492          202  1.00
38   43        s         Broad Marsh River   397.562503          437  1.00
39   44        s        Wareham River West   258.214260          132  1.00
40   45        s        Wareham River East   106.597979          270  1.00
41   46        e                 Crab Cove   125.113837          346  1.00
42   47        e       Wareham River South    82.934515           28  1.00
43   42        s              Agawam River   689.484831          833  1.00
44   50        p              College Pond   118.460120            0  1.00
45   51        p              Halfway Pond   661.095909           15  1.00

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
334   51    7   10.970016
335   51    9   94.085129
336   51   10    3.509481
337   51   12    0.228525
338   51   13    2.406747

[339 rows x 3 columns]

Difference in Total Area (Ha): -783.6

In [324]:
df1_dict = {'w': 0.23,
'c': 1,
'e': 1,
's': 1,
'p': 0.5}
df1_conditions = '['+', '.join(['df1_i.Terminus =="' + k+'"' for k in df1_dict.keys()])+']'
df2_dict = {'9': 1,
'10': 1}
df2_conditions = '['+', '.join(['df2_i.Terminus =="' + k+'"' for k in df2_dict.keys()])+']'
# change terminus classifications    
for i in (LUC_scenarios.keys()):
    print (i) 

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    df1_i['c_T'] = np.select(eval(df1_conditions),df1_dict.values(),default=1)
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"Wareham_Terminus_and_Pop"+str(i)+".csv"))

    # then sum up area by land use and subwatershed and assign terminus coefficients
    df2_i = out_df2[['SUB','LUC'+str(i),'Area_Ha']]
    df2_i = df2_i.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')
    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC'})
    '''
    df_SUB_LUC = pd.DataFrame({"SUB":SUBs,"LUC":LUCs})
    display(df_SUB_LUC)
    display(df_SUB_LUC_merged)
    df2_i = pd.merge(df_SUB_LUC,df2_i,'left')
    Area_Ha = df_SUB_LUC_merged['Area_Ha'].fillna(0) + df2_i['Area_Ha'].fillna(0)
    print(Area_Ha.sum())
    print(len(Area_Ha))
    df_SUB_LUC_AREA = df_SUB_LUC
    df_SUB_LUC_AREA['Area_Ha'] = Area_Ha
    df2_i = pd.merge(df_SUB_LUC_AREA,df1_i[['SUB','Terminus']])
    df2_i['c_T'] = np.select(eval(df2_conditions),df2_dict.values(),default=1)
    print("!!!!!!!!!!!!displaying df2_i after merge")
    '''
    display(df2_i)
    df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area_p05_"+str(i)+".csv"))
    
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(out_df1['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

0

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits  c_T
0     0        e                   Estuary   322.510995            0  1.0
1     2        p   Agawam Reservoir S LT10   650.865795           19  0.5
2    19        p         Fearing Pond GT10    19.612364            0  0.5
3    21        p         Fearing Pond LT10   114.069335            0  0.5
4    24        p     Little Long Pond GT10    64.626888            0  0.5
5    25        p     Little Long Pond LT10   126.532533            0  0.5
6    22        p                Abner Pond    38.672989            0  0.5
7    23        p            Five Mile Pond    59.632582            9  0.5
8    26        s             East Branch N   194.998012            0  1.0
9    30        p          Charge Pond LT10   100.163457            0  0.5
10   28        p         Barrett Pond LT10    64.189598            0  0.5
11   29        p          Charge Pond GT10    13.109041            0  0.5
12   17        p       East Head Pond GT10   108.155991            0  0.5
13   27        p         Barrett Pond GT10     9.675401            0  0.5
14   18        p       East Head Pond LT10   249.676658            0  0.5
15   13        p        New Long Pond LT10    88.472716            0  0.5
16   12        p        New Long Pond GT10    79.717848            0  0.5
17    9        p                Bumps Pond    97.028408            0  0.5
18   11        p  Three Cornered Pond GT10    23.974446            0  0.5
19   10        p  Three Cornered Pond LT10    86.417185            0  0.5
20   16        p   Agawam Reservoir S GT10    68.226569            0  0.5
21   14        p      New Grassy Pond GT10     7.588577            0  0.5
22   15        p      New Grassy Pond LT10    39.327126            0  0.5
23    8        p            Fawn Pond GT10    71.440916           15  0.5
24    7        p            Fawn Pond LT10   260.067831           16  0.5
25    1        p   Agawam Reservoir N GT10    29.389232            0  0.5
26    3        p   Agawam Reservoir N LT10    76.512795            0  0.5
27   32        s         Wankinco R N LT10  1069.409533            6  1.0
28   37        p                Sandy Pond    32.718333            2  0.5
29   38        p            Spectacle Pond    33.683419            2  0.5
30   20        p                 Mill Pond  1914.756682         1098  0.5
31   35        s                bog stream   156.183216           47  1.0
32   40        p         Parker Mills Pond   229.990403           15  0.5
33   41        s                Rose Brook   324.010079           81  1.0
34   39        s               Maple Swamp   581.102851            4  1.0
35   33        s            Frogfoot Brook   353.089455            0  1.0
36   34        s              Harlow Brook   741.605814           20  1.0
37   31        s         Wankinco R N GT10   282.697492          202  1.0
38   43        s         Broad Marsh River   397.562503          437  1.0
39   44        s        Wareham River West   258.214260          132  1.0
40   45        s        Wareham River East   106.597979          270  1.0
41   46        e                 Crab Cove   125.113837          346  1.0
42   47        e       Wareham River South    82.934515           28  1.0
43   42        s              Agawam River   689.484831          833  1.0
44   50        p              College Pond   118.460120            0  0.5
45   51        p              Halfway Pond   661.095909           15  0.5

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
334   51    7   10.970016
335   51    9   94.085129
336   51   10    3.509481
337   51   12    0.228525
338   51   13    2.406747

[339 rows x 3 columns]

Difference in Total Area (Ha): -783.6
1

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits   c_T
0     0        e                   Estuary   322.510995            0  1.00
1     2        p   Agawam Reservoir S LT10   650.865795           19  0.50
2    19        p         Fearing Pond GT10    19.612364            0  0.50
3    21        p         Fearing Pond LT10   114.069335            0  0.50
4    24        p     Little Long Pond GT10    64.626888            0  0.50
5    25        p     Little Long Pond LT10   126.532533            0  0.50
6    22        p                Abner Pond    38.672989            0  0.50
7    23        p            Five Mile Pond    59.632582            9  0.50
8    26        s             East Branch N   194.998012            0  1.00
9    30        p          Charge Pond LT10   100.163457            0  0.50
10   28        p         Barrett Pond LT10    64.189598            0  0.50
11   29        p          Charge Pond GT10    13.109041            0  0.50
12   17        p       East Head Pond GT10   108.155991            0  0.50
13   27        p         Barrett Pond GT10     9.675401            0  0.50
14   18        p       East Head Pond LT10   249.676658            0  0.50
15   13        p        New Long Pond LT10    88.472716            0  0.50
16   12        p        New Long Pond GT10    79.717848            0  0.50
17    9        p                Bumps Pond    97.028408            0  0.50
18   11        p  Three Cornered Pond GT10    23.974446            0  0.50
19   10        p  Three Cornered Pond LT10    86.417185            0  0.50
20   16        p   Agawam Reservoir S GT10    68.226569            0  0.50
21   14        p      New Grassy Pond GT10     7.588577            0  0.50
22   15        p      New Grassy Pond LT10    39.327126            0  0.50
23    8        p            Fawn Pond GT10    71.440916           15  0.50
24    7        p            Fawn Pond LT10   260.067831           16  0.50
25    1        p   Agawam Reservoir N GT10    29.389232            0  0.50
26    3        p   Agawam Reservoir N LT10    76.512795            0  0.50
27   32        s         Wankinco R N LT10  1069.409533            6  1.00
28   37        p                Sandy Pond    32.718333            2  0.50
29   38        p            Spectacle Pond    33.683419            2  0.50
30   20        p                 Mill Pond  1914.756682         1098  0.50
31   35        w                bog stream   156.183216           47  0.23
32   40        p         Parker Mills Pond   229.990403           15  0.50
33   41        w                Rose Brook   324.010079           81  0.23
34   39        s               Maple Swamp   581.102851            4  1.00
35   33        w            Frogfoot Brook   353.089455            0  0.23
36   34        w              Harlow Brook   741.605814           20  0.23
37   31        w         Wankinco R N GT10   282.697492          202  0.23
38   43        s         Broad Marsh River   397.562503          437  1.00
39   44        s        Wareham River West   258.214260          132  1.00
40   45        s        Wareham River East   106.597979          270  1.00
41   46        e                 Crab Cove   125.113837          346  1.00
42   47        e       Wareham River South    82.934515           28  1.00
43   42        s              Agawam River   689.484831          833  1.00
44   50        p              College Pond   118.460120            0  0.50
45   51        p              Halfway Pond   661.095909           15  0.50

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
331   51    7   10.970016
332   51    9   94.085129
333   51   10    3.509481
334   51   12    0.228525
335   51   13    2.406747

[336 rows x 3 columns]

Difference in Total Area (Ha): -783.6
2

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits  c_T
0     0        e                   Estuary   322.510995            0  1.0
1     2        p   Agawam Reservoir S LT10   650.865795           19  0.5
2    19        p         Fearing Pond GT10    19.612364            0  0.5
3    21        p         Fearing Pond LT10   114.069335            0  0.5
4    24        p     Little Long Pond GT10    64.626888            0  0.5
5    25        p     Little Long Pond LT10   126.532533            0  0.5
6    22        p                Abner Pond    38.672989            0  0.5
7    23        p            Five Mile Pond    59.632582            9  0.5
8    26        s             East Branch N   194.998012            0  1.0
9    30        p          Charge Pond LT10   100.163457            0  0.5
10   28        p         Barrett Pond LT10    64.189598            0  0.5
11   29        p          Charge Pond GT10    13.109041            0  0.5
12   17        p       East Head Pond GT10   108.155991            0  0.5
13   27        p         Barrett Pond GT10     9.675401            0  0.5
14   18        p       East Head Pond LT10   249.676658            0  0.5
15   13        p        New Long Pond LT10    88.472716            0  0.5
16   12        p        New Long Pond GT10    79.717848            0  0.5
17    9        p                Bumps Pond    97.028408            0  0.5
18   11        p  Three Cornered Pond GT10    23.974446            0  0.5
19   10        p  Three Cornered Pond LT10    86.417185            0  0.5
20   16        p   Agawam Reservoir S GT10    68.226569            0  0.5
21   14        p      New Grassy Pond GT10     7.588577            0  0.5
22   15        p      New Grassy Pond LT10    39.327126            0  0.5
23    8        p            Fawn Pond GT10    71.440916           15  0.5
24    7        p            Fawn Pond LT10   260.067831           16  0.5
25    1        p   Agawam Reservoir N GT10    29.389232            0  0.5
26    3        p   Agawam Reservoir N LT10    76.512795            0  0.5
27   32        s         Wankinco R N LT10  1069.409533            6  1.0
28   37        p                Sandy Pond    32.718333            2  0.5
29   38        p            Spectacle Pond    33.683419            2  0.5
30   20        p                 Mill Pond  1914.756682         1098  0.5
31   35        s                bog stream   156.183216           47  1.0
32   40        p         Parker Mills Pond   229.990403           15  0.5
33   41        s                Rose Brook   324.010079           81  1.0
34   39        s               Maple Swamp   581.102851            4  1.0
35   33        s            Frogfoot Brook   353.089455            0  1.0
36   34        s              Harlow Brook   741.605814           20  1.0
37   31        s         Wankinco R N GT10   282.697492          202  1.0
38   43        s         Broad Marsh River   397.562503          437  1.0
39   44        s        Wareham River West   258.214260          132  1.0
40   45        s        Wareham River East   106.597979          270  1.0
41   46        e                 Crab Cove   125.113837          346  1.0
42   47        e       Wareham River South    82.934515           28  1.0
43   42        s              Agawam River   689.484831          833  1.0
44   50        p              College Pond   118.460120            0  0.5
45   51        p              Halfway Pond   661.095909           15  0.5

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
326   51    6    0.280611
327   51    7   10.970016
328   51    9   94.085129
329   51   10    3.738006
330   51   13    2.406747

[331 rows x 3 columns]

Difference in Total Area (Ha): -783.6
3

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits  c_T
0     0        e                   Estuary   322.510995            0  1.0
1     2        p   Agawam Reservoir S LT10   650.865795           19  0.5
2    19        p         Fearing Pond GT10    19.612364            0  0.5
3    21        p         Fearing Pond LT10   114.069335            0  0.5
4    24        p     Little Long Pond GT10    64.626888            0  0.5
5    25        p     Little Long Pond LT10   126.532533            0  0.5
6    22        p                Abner Pond    38.672989            0  0.5
7    23        p            Five Mile Pond    59.632582            9  0.5
8    26        s             East Branch N   194.998012            0  1.0
9    30        p          Charge Pond LT10   100.163457            0  0.5
10   28        p         Barrett Pond LT10    64.189598            0  0.5
11   29        p          Charge Pond GT10    13.109041            0  0.5
12   17        p       East Head Pond GT10   108.155991            0  0.5
13   27        p         Barrett Pond GT10     9.675401            0  0.5
14   18        p       East Head Pond LT10   249.676658            0  0.5
15   13        p        New Long Pond LT10    88.472716            0  0.5
16   12        p        New Long Pond GT10    79.717848            0  0.5
17    9        p                Bumps Pond    97.028408            0  0.5
18   11        p  Three Cornered Pond GT10    23.974446            0  0.5
19   10        p  Three Cornered Pond LT10    86.417185            0  0.5
20   16        p   Agawam Reservoir S GT10    68.226569            0  0.5
21   14        p      New Grassy Pond GT10     7.588577            0  0.5
22   15        p      New Grassy Pond LT10    39.327126            0  0.5
23    8        p            Fawn Pond GT10    71.440916           15  0.5
24    7        p            Fawn Pond LT10   260.067831           16  0.5
25    1        p   Agawam Reservoir N GT10    29.389232            0  0.5
26    3        p   Agawam Reservoir N LT10    76.512795            0  0.5
27   32        s         Wankinco R N LT10  1069.409533            6  1.0
28   37        p                Sandy Pond    32.718333            2  0.5
29   38        p            Spectacle Pond    33.683419            2  0.5
30   20        p                 Mill Pond  1914.756682         1098  0.5
31   35        s                bog stream   156.183216           47  1.0
32   40        p         Parker Mills Pond   229.990403           15  0.5
33   41        s                Rose Brook   324.010079           81  1.0
34   39        s               Maple Swamp   581.102851            4  1.0
35   33        s            Frogfoot Brook   353.089455            0  1.0
36   34        s              Harlow Brook   741.605814           20  1.0
37   31        s         Wankinco R N GT10   282.697492          202  1.0
38   43        s         Broad Marsh River   397.562503          437  1.0
39   44        s        Wareham River West   258.214260          132  1.0
40   45        s        Wareham River East   106.597979          270  1.0
41   46        e                 Crab Cove   125.113837          346  1.0
42   47        e       Wareham River South    82.934515           28  1.0
43   42        s              Agawam River   689.484831          833  1.0
44   50        p              College Pond   118.460120            0  0.5
45   51        p              Halfway Pond   661.095909           15  0.5

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
334   51    7   10.970016
335   51    9   94.085129
336   51   10    3.509481
337   51   12    0.228525
338   51   13    2.406747

[339 rows x 3 columns]

Difference in Total Area (Ha): -783.6
4

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits   c_T
0     0        e                   Estuary   322.510995            0  1.00
1     2        p   Agawam Reservoir S LT10   650.865795           19  0.50
2    19        p         Fearing Pond GT10    19.612364            0  0.50
3    21        p         Fearing Pond LT10   114.069335            0  0.50
4    24        p     Little Long Pond GT10    64.626888            0  0.50
5    25        p     Little Long Pond LT10   126.532533            0  0.50
6    22        p                Abner Pond    38.672989            0  0.50
7    23        p            Five Mile Pond    59.632582            9  0.50
8    26        s             East Branch N   194.998012            0  1.00
9    30        p          Charge Pond LT10   100.163457            0  0.50
10   28        p         Barrett Pond LT10    64.189598            0  0.50
11   29        p          Charge Pond GT10    13.109041            0  0.50
12   17        p       East Head Pond GT10   108.155991            0  0.50
13   27        p         Barrett Pond GT10     9.675401            0  0.50
14   18        p       East Head Pond LT10   249.676658            0  0.50
15   13        p        New Long Pond LT10    88.472716            0  0.50
16   12        p        New Long Pond GT10    79.717848            0  0.50
17    9        p                Bumps Pond    97.028408            0  0.50
18   11        p  Three Cornered Pond GT10    23.974446            0  0.50
19   10        p  Three Cornered Pond LT10    86.417185            0  0.50
20   16        p   Agawam Reservoir S GT10    68.226569            0  0.50
21   14        p      New Grassy Pond GT10     7.588577            0  0.50
22   15        p      New Grassy Pond LT10    39.327126            0  0.50
23    8        p            Fawn Pond GT10    71.440916           15  0.50
24    7        p            Fawn Pond LT10   260.067831           16  0.50
25    1        p   Agawam Reservoir N GT10    29.389232            0  0.50
26    3        p   Agawam Reservoir N LT10    76.512795            0  0.50
27   32        s         Wankinco R N LT10  1069.409533            6  1.00
28   37        p                Sandy Pond    32.718333            2  0.50
29   38        p            Spectacle Pond    33.683419            2  0.50
30   20        p                 Mill Pond  1914.756682         1098  0.50
31   35        s                bog stream   156.183216           47  1.00
32   40        p         Parker Mills Pond   229.990403           15  0.50
33   41        s                Rose Brook   324.010079           81  1.00
34   39        s               Maple Swamp   581.102851            4  1.00
35   33        w            Frogfoot Brook   353.089455            0  0.23
36   34        w              Harlow Brook   741.605814           20  0.23
37   31        s         Wankinco R N GT10   282.697492          202  1.00
38   43        s         Broad Marsh River   397.562503          437  1.00
39   44        s        Wareham River West   258.214260          132  1.00
40   45        s        Wareham River East   106.597979          270  1.00
41   46        e                 Crab Cove   125.113837          346  1.00
42   47        e       Wareham River South    82.934515           28  1.00
43   42        s              Agawam River   689.484831          833  1.00
44   50        p              College Pond   118.460120            0  0.50
45   51        p              Halfway Pond   661.095909           15  0.50

     SUB  LUC     Area_Ha
0      0    1    0.952013
1      0    2    0.079489
2      0    6    0.002072
3      0    7    0.436730
4      0    9  305.381342
..   ...  ...         ...
334   51    7   10.970016
335   51    9   94.085129
336   51   10    3.509481
337   51   12    0.228525
338   51   13    2.406747

[339 rows x 3 columns]

Difference in Total Area (Ha): -783.6

In [325]:
# GENERAL 
# change terminus classifications    
for i in (LUC_scenarios.keys()):
    print (i) 

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    #df1_i['c_T'] = np.select(eval(df1_conditions),df1_dict.values(),default=1)
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"Wareham_Terminus_and_Pop_"+str(i)+".csv"))

    # then sum up area by land use and subwatershed and assign terminus coefficients
    df2_i = out_df2[['SUB','LUC'+str(i),'Area_Ha']]
    df2_i = df2_i.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')
    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC'})
    df2_i = pd.merge(df2_i,df1_i[['SUB','Terminus']],'inner')
    display(df2_i)
    df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area_"+str(i)+".csv"))
    
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(out_df1['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

0

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits
0     0        e                   Estuary   322.510995            0
1     2        p   Agawam Reservoir S LT10   650.865795           19
2    19        p         Fearing Pond GT10    19.612364            0
3    21        p         Fearing Pond LT10   114.069335            0
4    24        p     Little Long Pond GT10    64.626888            0
5    25        p     Little Long Pond LT10   126.532533            0
6    22        p                Abner Pond    38.672989            0
7    23        p            Five Mile Pond    59.632582            9
8    26        s             East Branch N   194.998012            0
9    30        p          Charge Pond LT10   100.163457            0
10   28        p         Barrett Pond LT10    64.189598            0
11   29        p          Charge Pond GT10    13.109041            0
12   17        p       East Head Pond GT10   108.155991            0
13   27        p         Barrett Pond GT10     9.675401            0
14   18        p       East Head Pond LT10   249.676658            0
15   13        p        New Long Pond LT10    88.472716            0
16   12        p        New Long Pond GT10    79.717848            0
17    9        p                Bumps Pond    97.028408            0
18   11        p  Three Cornered Pond GT10    23.974446            0
19   10        p  Three Cornered Pond LT10    86.417185            0
20   16        p   Agawam Reservoir S GT10    68.226569            0
21   14        p      New Grassy Pond GT10     7.588577            0
22   15        p      New Grassy Pond LT10    39.327126            0
23    8        p            Fawn Pond GT10    71.440916           15
24    7        p            Fawn Pond LT10   260.067831           16
25    1        p   Agawam Reservoir N GT10    29.389232            0
26    3        p   Agawam Reservoir N LT10    76.512795            0
27   32        s         Wankinco R N LT10  1069.409533            6
28   37        p                Sandy Pond    32.718333            2
29   38        p            Spectacle Pond    33.683419            2
30   20        p                 Mill Pond  1914.756682         1098
31   35        s                bog stream   156.183216           47
32   40        p         Parker Mills Pond   229.990403           15
33   41        s                Rose Brook   324.010079           81
34   39        s               Maple Swamp   581.102851            4
35   33        s            Frogfoot Brook   353.089455            0
36   34        s              Harlow Brook   741.605814           20
37   31        s         Wankinco R N GT10   282.697492          202
38   43        s         Broad Marsh River   397.562503          437
39   44        s        Wareham River West   258.214260          132
40   45        s        Wareham River East   106.597979          270
41   46        e                 Crab Cove   125.113837          346
42   47        e       Wareham River South    82.934515           28
43   42        s              Agawam River   689.484831          833
44   50        p              College Pond   118.460120            0
45   51        p              Halfway Pond   661.095909           15

     SUB  LUC     Area_Ha Terminus
0      0    1    0.952013        e
1      0    2    0.079489        e
2      0    6    0.002072        e
3      0    7    0.436730        e
4      0    9  305.381342        e
..   ...  ...         ...      ...
301   51    7   10.970016        p
302   51    9   94.085129        p
303   51   10    3.509481        p
304   51   12    0.228525        p
305   51   13    2.406747        p

[306 rows x 4 columns]

Difference in Total Area (Ha): 2.7
1

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits
0     0        e                   Estuary   322.510995            0
1     2        p   Agawam Reservoir S LT10   650.865795           19
2    19        p         Fearing Pond GT10    19.612364            0
3    21        p         Fearing Pond LT10   114.069335            0
4    24        p     Little Long Pond GT10    64.626888            0
5    25        p     Little Long Pond LT10   126.532533            0
6    22        p                Abner Pond    38.672989            0
7    23        p            Five Mile Pond    59.632582            9
8    26        s             East Branch N   194.998012            0
9    30        p          Charge Pond LT10   100.163457            0
10   28        p         Barrett Pond LT10    64.189598            0
11   29        p          Charge Pond GT10    13.109041            0
12   17        p       East Head Pond GT10   108.155991            0
13   27        p         Barrett Pond GT10     9.675401            0
14   18        p       East Head Pond LT10   249.676658            0
15   13        p        New Long Pond LT10    88.472716            0
16   12        p        New Long Pond GT10    79.717848            0
17    9        p                Bumps Pond    97.028408            0
18   11        p  Three Cornered Pond GT10    23.974446            0
19   10        p  Three Cornered Pond LT10    86.417185            0
20   16        p   Agawam Reservoir S GT10    68.226569            0
21   14        p      New Grassy Pond GT10     7.588577            0
22   15        p      New Grassy Pond LT10    39.327126            0
23    8        p            Fawn Pond GT10    71.440916           15
24    7        p            Fawn Pond LT10   260.067831           16
25    1        p   Agawam Reservoir N GT10    29.389232            0
26    3        p   Agawam Reservoir N LT10    76.512795            0
27   32        s         Wankinco R N LT10  1069.409533            6
28   37        p                Sandy Pond    32.718333            2
29   38        p            Spectacle Pond    33.683419            2
30   20        p                 Mill Pond  1914.756682         1098
31   35        w                bog stream   156.183216           47
32   40        p         Parker Mills Pond   229.990403           15
33   41        w                Rose Brook   324.010079           81
34   39        s               Maple Swamp   581.102851            4
35   33        w            Frogfoot Brook   353.089455            0
36   34        w              Harlow Brook   741.605814           20
37   31        w         Wankinco R N GT10   282.697492          202
38   43        s         Broad Marsh River   397.562503          437
39   44        s        Wareham River West   258.214260          132
40   45        s        Wareham River East   106.597979          270
41   46        e                 Crab Cove   125.113837          346
42   47        e       Wareham River South    82.934515           28
43   42        s              Agawam River   689.484831          833
44   50        p              College Pond   118.460120            0
45   51        p              Halfway Pond   661.095909           15

     SUB  LUC     Area_Ha Terminus
0      0    1    0.952013        e
1      0    2    0.079489        e
2      0    6    0.002072        e
3      0    7    0.436730        e
4      0    9  305.381342        e
..   ...  ...         ...      ...
301   51    7   10.970016        p
302   51    9   94.085129        p
303   51   10    3.509481        p
304   51   12    0.228525        p
305   51   13    2.406747        p

[306 rows x 4 columns]

Difference in Total Area (Ha): 2.7
2

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits
0     0        e                   Estuary   322.510995            0
1     2        p   Agawam Reservoir S LT10   650.865795           19
2    19        p         Fearing Pond GT10    19.612364            0
3    21        p         Fearing Pond LT10   114.069335            0
4    24        p     Little Long Pond GT10    64.626888            0
5    25        p     Little Long Pond LT10   126.532533            0
6    22        p                Abner Pond    38.672989            0
7    23        p            Five Mile Pond    59.632582            9
8    26        s             East Branch N   194.998012            0
9    30        p          Charge Pond LT10   100.163457            0
10   28        p         Barrett Pond LT10    64.189598            0
11   29        p          Charge Pond GT10    13.109041            0
12   17        p       East Head Pond GT10   108.155991            0
13   27        p         Barrett Pond GT10     9.675401            0
14   18        p       East Head Pond LT10   249.676658            0
15   13        p        New Long Pond LT10    88.472716            0
16   12        p        New Long Pond GT10    79.717848            0
17    9        p                Bumps Pond    97.028408            0
18   11        p  Three Cornered Pond GT10    23.974446            0
19   10        p  Three Cornered Pond LT10    86.417185            0
20   16        p   Agawam Reservoir S GT10    68.226569            0
21   14        p      New Grassy Pond GT10     7.588577            0
22   15        p      New Grassy Pond LT10    39.327126            0
23    8        p            Fawn Pond GT10    71.440916           15
24    7        p            Fawn Pond LT10   260.067831           16
25    1        p   Agawam Reservoir N GT10    29.389232            0
26    3        p   Agawam Reservoir N LT10    76.512795            0
27   32        s         Wankinco R N LT10  1069.409533            6
28   37        p                Sandy Pond    32.718333            2
29   38        p            Spectacle Pond    33.683419            2
30   20        p                 Mill Pond  1914.756682         1098
31   35        s                bog stream   156.183216           47
32   40        p         Parker Mills Pond   229.990403           15
33   41        s                Rose Brook   324.010079           81
34   39        s               Maple Swamp   581.102851            4
35   33        s            Frogfoot Brook   353.089455            0
36   34        s              Harlow Brook   741.605814           20
37   31        s         Wankinco R N GT10   282.697492          202
38   43        s         Broad Marsh River   397.562503          437
39   44        s        Wareham River West   258.214260          132
40   45        s        Wareham River East   106.597979          270
41   46        e                 Crab Cove   125.113837          346
42   47        e       Wareham River South    82.934515           28
43   42        s              Agawam River   689.484831          833
44   50        p              College Pond   118.460120            0
45   51        p              Halfway Pond   661.095909           15

     SUB  LUC     Area_Ha Terminus
0      0    1    0.952013        e
1      0    2    0.079489        e
2      0    6    0.002072        e
3      0    7    0.436730        e
4      0    9  305.381342        e
..   ...  ...         ...      ...
294   51    6    0.280611        p
295   51    7   10.970016        p
296   51    9   94.085129        p
297   51   10    3.738006        p
298   51   13    2.406747        p

[299 rows x 4 columns]

Difference in Total Area (Ha): 2.7
3

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits
0     0        e                   Estuary   322.510995            0
1     2        p   Agawam Reservoir S LT10   650.865795           19
2    19        p         Fearing Pond GT10    19.612364            0
3    21        p         Fearing Pond LT10   114.069335            0
4    24        p     Little Long Pond GT10    64.626888            0
5    25        p     Little Long Pond LT10   126.532533            0
6    22        p                Abner Pond    38.672989            0
7    23        p            Five Mile Pond    59.632582            9
8    26        s             East Branch N   194.998012            0
9    30        p          Charge Pond LT10   100.163457            0
10   28        p         Barrett Pond LT10    64.189598            0
11   29        p          Charge Pond GT10    13.109041            0
12   17        p       East Head Pond GT10   108.155991            0
13   27        p         Barrett Pond GT10     9.675401            0
14   18        p       East Head Pond LT10   249.676658            0
15   13        p        New Long Pond LT10    88.472716            0
16   12        p        New Long Pond GT10    79.717848            0
17    9        p                Bumps Pond    97.028408            0
18   11        p  Three Cornered Pond GT10    23.974446            0
19   10        p  Three Cornered Pond LT10    86.417185            0
20   16        p   Agawam Reservoir S GT10    68.226569            0
21   14        p      New Grassy Pond GT10     7.588577            0
22   15        p      New Grassy Pond LT10    39.327126            0
23    8        p            Fawn Pond GT10    71.440916           15
24    7        p            Fawn Pond LT10   260.067831           16
25    1        p   Agawam Reservoir N GT10    29.389232            0
26    3        p   Agawam Reservoir N LT10    76.512795            0
27   32        s         Wankinco R N LT10  1069.409533            6
28   37        p                Sandy Pond    32.718333            2
29   38        p            Spectacle Pond    33.683419            2
30   20        p                 Mill Pond  1914.756682         1098
31   35        s                bog stream   156.183216           47
32   40        p         Parker Mills Pond   229.990403           15
33   41        s                Rose Brook   324.010079           81
34   39        s               Maple Swamp   581.102851            4
35   33        s            Frogfoot Brook   353.089455            0
36   34        s              Harlow Brook   741.605814           20
37   31        s         Wankinco R N GT10   282.697492          202
38   43        s         Broad Marsh River   397.562503          437
39   44        s        Wareham River West   258.214260          132
40   45        s        Wareham River East   106.597979          270
41   46        e                 Crab Cove   125.113837          346
42   47        e       Wareham River South    82.934515           28
43   42        s              Agawam River   689.484831          833
44   50        p              College Pond   118.460120            0
45   51        p              Halfway Pond   661.095909           15

     SUB  LUC     Area_Ha Terminus
0      0    1    0.952013        e
1      0    2    0.079489        e
2      0    6    0.002072        e
3      0    7    0.436730        e
4      0    9  305.381342        e
..   ...  ...         ...      ...
301   51    7   10.970016        p
302   51    9   94.085129        p
303   51   10    3.509481        p
304   51   12    0.228525        p
305   51   13    2.406747        p

[306 rows x 4 columns]

Difference in Total Area (Ha): 2.7
4

    SUB Terminus                 SubW_Name      Area_Ha  SepticUnits
0     0        e                   Estuary   322.510995            0
1     2        p   Agawam Reservoir S LT10   650.865795           19
2    19        p         Fearing Pond GT10    19.612364            0
3    21        p         Fearing Pond LT10   114.069335            0
4    24        p     Little Long Pond GT10    64.626888            0
5    25        p     Little Long Pond LT10   126.532533            0
6    22        p                Abner Pond    38.672989            0
7    23        p            Five Mile Pond    59.632582            9
8    26        s             East Branch N   194.998012            0
9    30        p          Charge Pond LT10   100.163457            0
10   28        p         Barrett Pond LT10    64.189598            0
11   29        p          Charge Pond GT10    13.109041            0
12   17        p       East Head Pond GT10   108.155991            0
13   27        p         Barrett Pond GT10     9.675401            0
14   18        p       East Head Pond LT10   249.676658            0
15   13        p        New Long Pond LT10    88.472716            0
16   12        p        New Long Pond GT10    79.717848            0
17    9        p                Bumps Pond    97.028408            0
18   11        p  Three Cornered Pond GT10    23.974446            0
19   10        p  Three Cornered Pond LT10    86.417185            0
20   16        p   Agawam Reservoir S GT10    68.226569            0
21   14        p      New Grassy Pond GT10     7.588577            0
22   15        p      New Grassy Pond LT10    39.327126            0
23    8        p            Fawn Pond GT10    71.440916           15
24    7        p            Fawn Pond LT10   260.067831           16
25    1        p   Agawam Reservoir N GT10    29.389232            0
26    3        p   Agawam Reservoir N LT10    76.512795            0
27   32        s         Wankinco R N LT10  1069.409533            6
28   37        p                Sandy Pond    32.718333            2
29   38        p            Spectacle Pond    33.683419            2
30   20        p                 Mill Pond  1914.756682         1098
31   35        s                bog stream   156.183216           47
32   40        p         Parker Mills Pond   229.990403           15
33   41        s                Rose Brook   324.010079           81
34   39        s               Maple Swamp   581.102851            4
35   33        w            Frogfoot Brook   353.089455            0
36   34        w              Harlow Brook   741.605814           20
37   31        s         Wankinco R N GT10   282.697492          202
38   43        s         Broad Marsh River   397.562503          437
39   44        s        Wareham River West   258.214260          132
40   45        s        Wareham River East   106.597979          270
41   46        e                 Crab Cove   125.113837          346
42   47        e       Wareham River South    82.934515           28
43   42        s              Agawam River   689.484831          833
44   50        p              College Pond   118.460120            0
45   51        p              Halfway Pond   661.095909           15

     SUB  LUC     Area_Ha Terminus
0      0    1    0.952013        e
1      0    2    0.079489        e
2      0    6    0.002072        e
3      0    7    0.436730        e
4      0    9  305.381342        e
..   ...  ...         ...      ...
301   51    7   10.970016        p
302   51    9   94.085129        p
303   51   10    3.509481        p
304   51   12    0.228525        p
305   51   13    2.406747        p

[306 rows x 4 columns]

Difference in Total Area (Ha): 2.7

# then sum up area by land use and subwatershed    
for i in list(LUC_scenarios.keys()):
    print (i)   
    # Aggregate Data with Pandas .groupby()
    df2_i = df2.groupby(['SUB','LUC'+str(i)])['Area_Ha'].sum().reset_index(name='Area_Ha')

    df2_i = df2_i.rename(columns={'LUC'+str(i):'LUC',
                               'Terminus'+str(i):'Terminus',
                            'Area_Ha'+str(i):'Area_Ha'})
    df2_i.to_csv(os.path.join(odr,"Wareham_LUC_Area"+str(i)+".csv"))
    display(df2_i)
    # check that area is within one tenth of a Ha of input
    print('Difference in Total Area (Ha):',round(df2['Area_Ha'].sum() - df2_i['Area_Ha'].sum(),1))

    df1_i = pd.merge(out_df1[["SUB","Terminus"+str(i)]],
                     out_df1.loc[:, np.invert(out_df1.columns.str.startswith('Terminus'))])
    df1_i = df1_i.rename(columns={'Terminus'+str(i):'Terminus'})
    display(df1_i)
    df1_i.to_csv(os.path.join(odr,"Wareham_Terminus_and_Pop"+str(i)+".csv"))





















## Appendix

df_reclass.to_csv(os.path.join(odr,"Nload_LUC_scenarios.csv"))
in_df1.to_csv(os.path.join(odr,"Nload_SUB_scenarios.csv"))

For each scenario sum up areas by land use and subwatershed

Additional scenario (Not to be done this week) (5% population increase, and accompanied displacement 1% increase in).

# Case when statement for land use classification
# dependancies pandas and numpy
import pandas as pd
import numpy as np
import random
# BASELINE 
Bog_FID = np.arange(4)
SHED_ID = [1,2,1,2]
COVERCODE = [22]*4
USEGENCODE = [55]*4
USE_CODE = ["0","0","0710","0761"]*5
CropStatus = ["active","","active","abandoned"]
Bog_type = ["","flowthrough","flowthrough",""]
df = pd.DataFrame(list(zip(Bog_FID,SHED_ID,COVERCODE, USEGENCODE, USE_CODE,CropStatus,Bog_type)),
               columns =['Bog_FID','SHED_ID','COVERCODE', 'USEGENCODE','USE_CODE','CropStatus','Bog_type'])

BASELINE = {
    # key (LUC): value (condition string)
    # "Natural Uplands"
    1: '(df.COVERCODE >= 8) & (df.COVERCODE <= 12)',
    # "Mowed Areas (Lawns, Sports Fields, and Golf Courses)"
    2: 'df.COVERCODE == 5',
    # "Agriculture, Non Cranberry"
    3: 'np.isin(df.COVERCODE,[6,7]) & np.invert(np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"]))',
    # "Agriculture, Active Cranberry, Flowthrough"
    #4: '(df.USEGENCODE == 7)',
    4: 'np.invert(np.isin(df.CropStatus,"abandoned")) & (np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"])) & np.isin(df.Bog_type,"flowthrough")',
    #4: '(df.USEGENCODE == 7) & (df.CropStatus is "active") & (df.Bog_type is "flowthrough")',
    #4: '((df.USEGENCODE == 7 & (np.isin(df.USE_CODE,["270", "710", "7100", "0710", "0761"])) or df.CropStatus is "active") and (df.Bog_type is "flowthrough")',
    # "Agriculture, Active Cranberry, Non Flowthrough"
    5: 'np.invert(np.isin(df.CropStatus,"abandoned")) & (np.isin(df.CropStatus,"active")|np.isin(df.USE_CODE,["710","260","0761","7100","0710"])) & np.invert(np.isin(df.Bog_type,"flowthrough"))',
    #5: '((df.USEGENCODE == 7 & ("710" in df.USE_CODE or "761" in df.USE_CODE)) or df.CropStatus is "active") and (df.Bog_type is not "flowthrough")',
    # "Impervious, Roads"
    6: '(df.COVERCODE == 2) & (df.USEGENCODE == 55)',
    # "Impervious, Non-Roads"
    7: '(df.COVERCODE == 2) & (df.USEGENCODE is not 55)',
    # "Recieving Body (Estuary)"
    8: 'df.COVERCODE == 23',
    # "Freshwater Ponds and Lakes"
    9: 'np.isin(df.COVERCODE,[22,21])',
    # "Wetlands"
    10: '(df.COVERCODE >= 13) & (df.COVERCODE <= 18)',
    # "Retired Cranberry, Flowthrough"
    11: 'np.isin(df.CropStatus,"abandoned") & np.isin(df.Bog_type,"flowthrough")',
    # "Retired Cranberry, Non flowthrough"
    12: 'np.isin(df.CropStatus,"abandoned") & np.invert(np.isin(df.Bog_type,"flowthrough"))',
    # "Other (Bare land or Shoreline)"
    13: 'np.isin(df.COVERCODE,[19,20])'
}

condlist = "["+", ".join(list(BASELINE.values()))+"]"
choicelist = list(BASELINE.keys())
df["LUC"] =  np.select(eval(condlist),choicelist,13)
display(df)

The chunks above are working well. Resume here 5/27/22

The next steps are to finish the scenario encodings below. Then restart the work flow.

# List of cranberry bogs at bottom of subwatersheds
# SHED_ID 4, 31, 33, 34, 35, 41 
BOG_FID_List = [307,301,318,295,294,326,310,242,241,259,269,155,156,148,195,194,193,192]
np.isin(df.LUC,[4,5,11,12]) & np.isin(df.BOG_FID,[1,2,3,6,8])

scenarios = {
    #0. Baseline (Do nothing)
    0: "False",
    #1. Restore Select Bogs to Wetlands
    1: 'np.isin(df.LUC,[4,5,11,12]) & np.isin(df.BOG_FID,[1,2,3,6,8])',
    #2. Restore All Retired Bogs to Wetlands
    2: 'df.CropStatus is "abandoned"',
    #3. Retire All Flowthrough Bogs
    3: 'df.Bog_type is "flowthrough"',
    #4. Retire All Flowthrough Bogs and Restore Them to Wetlands
    4: 'df.Bog_type is "flowthrough"'
}
scenarios.keys()
scenarios.values()

scenarios.keys()
scenarios.values()
#np.where(logic,if_true, if_false)
df["LUC_0"] = np.where(eval(scenarios[0]),df.LUC,df.LUC)

df["LUC_1"] = np.where(eval(scenarios[1]),10,df.LUC)
df["LUC_2"] = np.where(eval(scenarios[2]),10,df.LUC)
df["LUC_3"] = np.where(eval(scenarios[3]),11,df.LUC)
df["LUC_4"] = np.where(eval(scenarios[4]),10,df.LUC)
display(df)

with arcpy.EnvManager(scratchWorkspace=r"C:\Workspace\Geodata\Nload\Default.gdb", workspace=r"C:\Workspace\Geodata\Nload\Default.gdb"):
    arcpy.management.CalculateField("Wareham_Bogs_master_v3", "Restore_TF", "myfun(!FID!)", "PYTHON3", """def myfun (test_string,test_list=None):
    if test_list is None: test_list=[307,301,318,295,294,326,310,242,2241,259,269,155,156,148,195,194,193,192]
    test = any(str(ele) in FID for ele in test_list)
    return(test)""", "TEXT", "NO_ENFORCE_DOMAINS")

# spatial join
spatialJoinOutput = intersectOutput+"_cran"
with arcpy.EnvManager(scratchWorkspace=r"C:\Workspace\Geodata\Nload\Default.gdb", workspace=r"C:\Workspace\Geodata\Nload\Default.gdb"):
    arcpy.analysis.SpatialJoin(intersectOutput, "in_wareham_bogs", spatialJoinOutput, "JOIN_ONE_TO_ONE", "KEEP_ALL", 'FID_LANDCO "FID_LANDCO" true true false 10 Long 0 10,First,#,out_agawam_lclu16,FID_LANDCO,-1,-1;COVERNAME "COVERNAME" true true false 50 Text 0 0,First,#,out_agawam_lclu16,COVERNAME,0,50;COVERCODE "COVERCODE" true true false 5 Long 0 5,First,#,out_agawam_lclu16,COVERCODE,-1,-1;USEGENNAME "USEGENNAME" true true false 50 Text 0 0,First,#,out_agawam_lclu16,USEGENNAME,0,50;USEGENCODE "USEGENCODE" true true false 5 Long 0 5,First,#,out_agawam_lclu16,USEGENCODE,-1,-1;USE_CODE "USE_CODE" true true false 4 Text 0 0,First,#,out_agawam_lclu16,USE_CODE,0,4;POLY_TYPE "POLY_TYPE" true true false 15 Text 0 0,First,#,out_agawam_lclu16,POLY_TYPE,0,15;FY "FY" true true false 5 Long 0 5,First,#,out_agawam_lclu16,FY,-1,-1;TOWN_ID "TOWN_ID" true true false 5 Long 0 5,First,#,out_agawam_lclu16,TOWN_ID,-1,-1;TILENAME "TILENAME" true true false 6 Text 0 0,First,#,out_agawam_lclu16,TILENAME,0,6;Shape_Leng "Shape_Leng" true true false 19 Double 0 0,First,#,out_agawam_lclu16,Shape_Leng,-1,-1;Shape_Area "Shape_Area" true true false 19 Double 0 0,First,#,out_agawam_lclu16,Shape_Area,-1,-1;FID_agawam "FID_agawam" true true false 10 Long 0 10,First,#,out_agawam_lclu16,FID_agawam,-1,-1;sf_area "sf_area" true true false 19 Double 11 18,First,#,out_agawam_lclu16,sf_area,-1,-1;SubWat_Num "SubWat_Num" true true false 4 Short 0 4,First,#,out_agawam_lclu16,SubWat_Num,-1,-1;New_ID "New_ID" true true false 4 Short 0 4,First,#,out_agawam_lclu16,New_ID,-1,-1,in_wareham_bogs,New_ID,-1,-1;ft_perim "ft_perim" true true false 19 Double 11 18,First,#,out_agawam_lclu16,ft_perim,-1,-1;SubW_Names "SubW_Names" true true false 35 Text 0 0,First,#,out_agawam_lclu16,SubW_Names,0,35,in_wareham_bogs,SubW_Names,0,35;SHED_ID "SHED_ID" true true false 254 Text 0 0,First,#,out_agawam_lclu16,SHED_ID,0,254;Terminal_N "Terminal_N" true true false 254 Text 0 0,First,#,out_agawam_lclu16,Terminal_N,0,254;WMA_NO "WMA_NO" true true false 14 Text 0 0,First,#,in_wareham_bogs,WMA_NO,0,14;OWNER "OWNER" true true false 30 Text 0 0,First,#,in_wareham_bogs,OWNER,0,30;ADDRESS "ADDRESS" true true false 30 Text 0 0,First,#,in_wareham_bogs,ADDRESS,0,30;TOWN "TOWN" true true false 22 Text 0 0,First,#,in_wareham_bogs,TOWN,0,22;REGION "REGION" true true false 10 Long 0 10,First,#,in_wareham_bogs,REGION,-1,-1;BOG_NAME "BOG_NAME" true true false 22 Text 0 0,First,#,in_wareham_bogs,BOG_NAME,0,22;STAFF "STAFF" true true false 20 Text 0 0,First,#,in_wareham_bogs,STAFF,0,20;PROGRAM "PROGRAM" true true false 8 Text 0 0,First,#,in_wareham_bogs,PROGRAM,0,8;DATE_ENTER "DATE_ENTER" true true false 8 Date 0 0,First,#,in_wareham_bogs,DATE_ENTER,-1,-1;COMMENT "COMMENT" true true false 60 Text 0 0,First,#,in_wareham_bogs,COMMENT,0,60;BIRTHREG "BIRTHREG" true true false 16 Text 0 0,First,#,in_wareham_bogs,BIRTHREG,0,16;PERMIT_NUM "PERMIT_NUM" true true false 16 Text 0 0,First,#,in_wareham_bogs,PERMIT_NUM,0,16;CropStatus "CropStatus" true true false 20 Text 0 0,First,#,in_wareham_bogs,CropStatus,0,20;Bog_Code "Bog_Code" true true false 254 Text 0 0,First,#,in_wareham_bogs,Bog_Code,0,254;Bog_Name_2 "Bog_Name_2" true true false 254 Text 0 0,First,#,in_wareham_bogs,Bog_Name_2,0,254;Active "Active" true true false 254 Text 0 0,First,#,in_wareham_bogs,Active,0,254;Plant_Year "Plant_Year" true true false 254 Text 0 0,First,#,in_wareham_bogs,Plant_Year,0,254;Variety "Variety" true true false 254 Text 0 0,First,#,in_wareham_bogs,Variety,0,254;Var_Class "Var_Class" true true false 50 Text 0 0,First,#,in_wareham_bogs,Var_Class,0,50;Bog_type "Bog_type" true true false 50 Text 0 0,First,#,in_wareham_bogs,Bog_type,0,50;Area_sqft "Area_sqft" true true false 13 Float 0 0,First,#,in_wareham_bogs,Area_sqft,-1,-1;Area_ha "Area_ha" true true false 13 Float 0 0,First,#,in_wareham_bogs,Area_ha,-1,-1;renovated "renovated" true true false 50 Text 0 0,First,#,in_wareham_bogs,renovated,0,50;ren_yr "ren_yr" true true false 50 Text 0 0,First,#,in_wareham_bogs,ren_yr,0,50;new_upland "new_upland" true true false 50 Text 0 0,First,#,in_wareham_bogs,new_upland,0,50;new_yr "new_yr" true true false 50 Text 0 0,First,#,in_wareham_bogs,new_yr,0,50;Basin_1 "Basin_1" true true false 50 Text 0 0,First,#,in_wareham_bogs,Basin_1,0,50;BOG_FID "BOG_FID" true true false 254 Text 0 0,First,#,in_wareham_bogs,BOG_FID,0,254', "INTERSECT", None, '')

inlayer = spatialJoinOutput
excelpath2 = "C:\\Workspace\\Geodata\\Nload\\outputs\\"+inlayer+".xlsx"
arcpy.conversion.TableToExcel(inlayer,
                              excelpath2,
                              "NAME",
                              "CODE")

# Subwatershed land use area
inname1 = "in_agawam"
inname2 = 'out_agawam_lclu16_cran'
in_df1 = pd.read_excel(os.path.join(odr,inname1+'.xlsx')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})


# Subwatershed catchment ids and terminus information
in_df2 = pd.read_excel(os.path.join(odr,inname2+'.xlsx')).rename(columns={'SHED_ID':'SUB','Terminal_N':'Terminus'})
in_df2['Area_Ha'] = in_df2['Shape_Area']/10000

# path to feature class
fc = 'out_agawam_lclu16_cran'
# list of field names that excludes the shape geometry (including geometry messes this up)
flds = [fld.name for fld in arcpy.ListFields(fc) if fld.name != arcpy.Describe(fc).shapeFieldName]
arr = arcpy.da.FeatureClassToNumPyArray(fc,flds)
df = pd.DataFrame(arr)
arr["Shape_Area"].sum()
df["Shape_Area"].sum()
df.groupby('SHED_ID').sum()
df2 = df.groupby('SHED_ID').sum()/10000
df2.sum()

Generate a table of area for 13 land use classes within each subcatchment, by sorting land uses from the following categories. 

Class Number|	Class Name
---|---
2|	Impervious
5|	Developed Open Space
6|	Cultivated Land
7|	Pasture/Hay
8|	Grassland
9|	Deciduous Forest
10|	Evergreen Forest
12|	Scrub/Shrub
13|	Palustrine Forested Wetland (C-CAP)
14|	Palustrine Scrub/Shrub Wetland (C-CAP)
15|	Palustrine Emergent Wetland (C-CAP)
16|	Estuarine Forested Wetland (C-CAP)
17|	Estuarine Scrub/Shrub Wetland (C-CAP)
18|	Estuarine Emergent Wetland (C-CAP)
19|	Unconsolidated Shore
20|	Bare Land
21|	Open Water
22|	Palustrine Aquatic Bed (C-CAP)
23|	Estuarine Aquatic Bed (C-CAP)


USEGENCODE|	USEGENNAME
---|---
0|	Unknown
2|	Open land
3|	Commercial
4|	Industrial
6|	Forest
7|	Agriculture
8|	Recreation
9|	Tax exempt
10| Mixed use, primarily residential
11|	Residential - single family
12|	Residential - multi-family
13|	Residential - other
20|	Mixed use, other
30|	Mixed use, primarily commercial
55|	Right-of-way
88|	Water

df_SUB_LUC1 = df_SUB_LUC_merged
df_SUB_LUC1['SUB'].astype(str)
df_SUB_LUC1['LUC'].astype(str)
df2_SUB_CC_Area['LUC'].astype(str)
df2_SUB_CC_Area['SUB'].astype(str)
print(df2_SUB_CC_Area.columns == df_SUB_LUC1.columns)
print(df2_SUB_CC_Area['Area_Ha'].sum())
print(df_SUB_LUC['Area_Ha'].sum())
print(df_SUB_LUC1['Area_Ha'].sum())
df_merged = pd.merge(df_SUB_LUC1,df2_SUB_CC_Area)
print(df_merged['Area_Ha'].sum())
print(df_merged == df_SUB_LUC1)

df_SUB_LUC1.set_index(['SUB','LUC'], inplace=True)
df2_SUB_CC_Area.set_index(['SUB','LUC'], inplace=True)
df_SUB_LUC1.(df2_SUB_CC_Area)
print(df_SUB_LUC1)
#df_SUB_LUC.merge(df2_SUB_CC_Area,'left').to_csv('df2_SUB_CC_Area.csv')
# check that area is within one tenth of a Ha of input
print('Difference in Total Area (Ha):',round(Total_Area2 - df2_SUB_CC_Area['Area_Ha'].sum(),1))